body {
font-family:'F37 Ginger'!important;
max-width:100%;
overflow-x:hidden;
}

.books_container_1, .books_container_2, .books_container_3, .books_container_4, .books_container_5, .books_container_6, .books_container_7 {
display:grid;
grid-template-columns:auto auto;
}

.header_box {
background-color:#EF4444;
height:20px;
left:110px;
position:absolute;
top:245px;
width:200px;
z-index:inherit;
}

.header_container {
background-color:white;
height:300px;
z-index:-100;
}

.header_text {
font-size:36px;
font-weight:bolder;
left:110px;
position:absolute;
text-align:center;
top:200px;
width: 200px;
z-index:100;
}

#love_title {
margin-left: 120px
}

#fear_title {
margin-left: 120px;
}

#philosophical_title {
margin-left: 80px;
}

.section_title {
font-size:20px;
margin-left:110px;
}

.show_more_button {
background-color:rgba(225,225,225,1.00);
border:none;
border-radius:20px;
color:black;
display:inline-block;
font-size:16px;
font-weight: bolder;
height:60px;
margin:40px 0 0 50px;
padding:15px 32px 62px 30px;
text-align:center;
text-decoration:none;
text-transform: uppercase;
vertical-align:middle;
width:120px;
}

.show_more_button:hover {
background-color:#ef4444;
}

#war_title {
margin-left: 120px
}
