body {
font-family:'F37 Ginger'!important;
max-width:100%;
overflow-x:hidden;
}

#art_and_design {
left:20px;
position:absolute;
top:250px;
}

.book {
font-size:16px;
padding:50px;
text-align:center;
}

.book_author {
font-size:14px;
font-weight:lighter;
}

.book_cover {
cursor:pointer;
height:200px;
opacity:1;
width:140px;
}

.book_cover:hover {
opacity:0.8;
}

.book_name {
font-size:16px;
font-weight:bolder;
}

.books_container_1, .books_container_2,.books_container_3,.books_container_4, .books_container_5 {
display:grid;
grid-template-columns:auto auto auto;
}

#fiction {
left:20px;
position:absolute;
top:1200px;
}

.header_box {
background-color:#EF4444;
height:20px;
left:310px;
position:absolute;
top:205px;
width:190px;
z-index:inherit;
}

.header_container {
background-color:white;
height:150px;
z-index:-100;
}

.header_text {
font-size:36px;
font-weight:bolder;
left:320px;
position:absolute;
text-align:center;
top:160px;
z-index:100;
}

#mystery {
left:20px;
position:absolute;
top:2200px;
}

#non_fiction {
left:20px;
position:absolute;
top:3200px;
}

#science_fiction {
left:20px;
position:absolute;
top:4200px;
}

.section_title {
font-size:24px;
font-weight:bolder;
padding-left:310px;
padding-top:20px;
}

.show_more_button {
background-color:rgba(225,225,225,1.00);
border:none;
border-radius:20px;
color:black;
display:inline-block;
font-size:18px;
height:50px;
margin:100px 0 0 40px;
padding:10px 32px;
text-align:center;
text-decoration:none;
vertical-align:middle;
width:180px;
}

.show_more_button:hover {
background-color:#ef4444;
}
