body {
font-family:"F37 Ginger"!important;
}

.author {
font-size:18px;
padding:40px;
text-align:center;
}

.author_photo {
cursor:pointer;
height:160px;
opacity:1;
width:160px;
}

.author_photo:hover {
opacity:0.8;
}

.authors-container {
display:grid;
grid-template-columns:auto auto auto;
left:15px;
padding:10px;
position:absolute;
top:350px;
}

.dropdown_menu {
display:inherit;
}

.filter {
float:left;
list-style:none;
width:20%;
}

#filters_container {
margin-left:250px;
margin-top:300px;
width:1200px;
}

#filters_container:after {
clear:both;
content:"";
display:table;
}

.filters_text {
font-size:22px;
}

.header_box {
background-color:#EF4444;
bottom:453px;
height:20px;
left:270px;
position:absolute;
width:220px;
z-index:inherit;
}

.header_container {
background-color:white;
height:150px;
z-index:-100;
}

.header_text {
font-size:36px;
font-weight:bolder;
left:290px;
position:absolute;
text-align:center;
top:180px;
z-index:100;
}


select {
background-color:#f1f1f1;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
padding:5px 10px;
width:160px;
}
