.author {
font-size:18px;
padding:40px;
text-align:center;
}

.author_name {
font-size: 18px;
}

.author_photo {
cursor:pointer;
height:200px;
opacity:1;
width:200px;
}

.author_photo:hover {
opacity:0.8;
}

.authors-container {
display:grid;
grid-template-columns:auto auto auto auto auto;
left:20px;
position:absolute;
top:250px;
}

#checkbox {
margin-left: 30px;
margin-top: 25px
}

.dropdown_menu {
display:inherit;
}

.filter {
float:left;
list-style:none;
}

.filter_checkbox {
margin-left:625px;
}

#filters_container {
margin-left:600px;
margin-top:10px;
width:300px;
}

#filters_container:after {
clear:both;
content:"";
display:table;
}

.filter_title {
float: left;
font-size:20px;
width: 150px;
}

.header_box {
background-color:#EF4444;
bottom:632px;
height:20px;
left:610px;
position:absolute;
width:220px;
z-index:inherit;
}

.header_container {
background-color:white;
height:150px;
z-index:-100;
}

.header_text {
font-size:40px;
font-weight:bolder;
left:620px;
position:absolute;
text-align:center;
top:58px;
z-index:100;
}

body {
font-family:"F37 Ginger"!important;
max-width:1440px;
overflow-x:hidden;
overflow-y:scroll;
}

select {
background-color:#f1f1f1;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
padding:5px 10px;
width:160px;
}
