body {
font-family:'F37 Ginger'!important;
max-width:100%;
overflow-x:hidden;
}

#art and design {
left:20px;
position:absolute;
top:250px;
}

#fiction {
left:20px;
position:absolute;
top:1300px;
}

#mystery {
left:20px;
position:absolute;
top:2500px;
}

#non_fiction {
left:20px;
position:absolute;
top:3700px;
}

#science_fiction {
left:20px;
position:absolute;
top:4850px;
}

.section_title {
font-size:20px;
margin-left:5px;
}

.show_more_button {
background-color:rgba(225,225,225,1.00);
border:none;
border-radius:20px;
color:black;
display:inline-block;
font-size:16px;
height:60px;
margin:40px 0 0 50px;
padding:15px 32px 62px 30px;
text-align:center;
text-decoration:none;
vertical-align:middle;
width:120px;
}

.show_more_button:hover {
background-color:#ef4444;
}
