body {
font-family:'F37 Ginger'!important;
overflow-x:hidden;
overflow-y:scroll;
}

#author_bio {
font-size:16px;
padding:50px 50px 50px 75px;
width:460px;
}

#author_bio_title {
left:330px;	
margin:0 10px 10px 20px;
position: absolute;
}

#author_intro {
background-color:#F3F3F3;
height:750px;
padding-bottom:30px;
padding-top:150px;
}

#author_name {
font-size:36px;
font-weight:bolder;
margin-bottom:80px;
}

#author_photo {
border:solid #EF4444;
border-width:1px 10px 10px 1px;
float:left;
height:300px;
left:35px;
position:absolute;
top:365px;
width:300px;
}

#event_photo {
border:solid #EF4444;
border-width:1px 10px 10px 1px;
float:left;
height:300px;
margin:30px 30px 160px;
width:300px;
}

#related_events {
background-color:#f3f3f3;
height:1660px;
margin-bottom:0;
padding-bottom:10px;
}

.authored_books_section {
height:520px;
padding:10px;
}

.book {
font-size:18px;
margin-left:30px;
padding-bottom:15px;
text-align:center;
}

.book_author {
font-size:12px;
font-weight:lighter;
}

.book_cover {
cursor:pointer;
height:190px;
opacity:1;
width:145px;
}

.book_cover:hover {
opacity:0.8;
}

.book_title {
font-size:15px;
font-weight:bold;
}

.books_containers {
display:grid;
grid-template-columns:auto auto auto auto auto;
left:20px;
margin-top:120px;
position:absolute;
top:760px;
}

.event {
margin:50px;
}

.event_author {
font-size:24px;
}

.event_date {
font-size:18px;
font-weight:lighter;
}

.event_title {
font-size:26px;
font-weight:bolder;
}

.events_container {
display:grid;
grid-template-columns:auto;
}

.learn_more {
background-color:#d5d5d5;
border:none;
border-radius:30px;
color:black;
display:inline-block;
font-size:18px;
font-weight:bolder;
height:50px;
margin:20px 0;
padding:15px 12px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
vertical-align:middle;
width:160px;
}

.learn_more:active {
background-color:#ef4444;
}

.section_title {
font-size:24px;
padding-left:30px;
padding-top:20px;
}


