body {
font-family:"F37 Ginger"!important;
}

.book_author_1,.book_author_2,.book_author_3,.book_author_4 {
font-weight:lighter;
}

.book_cover {
box-shadow:3px 3px 5px #979797;
float:left;
margin:60px 50px 50px;
width:180px;
}

.book_info {
padding-top:50px;
width:800px;
}

.book_info:after {
clear:both;
content:"";
display:table;
}

.book_price {
font-weight:30;
}

.book_subtotal {
font-weight:lighter;
margin-left:30px;
margin-top:15px;
}

.book_subtotal_title {
margin-left:30px;
margin-top:20px;
}

.cart_item {
background-color:#f3f3f3;
border-radius:30px;
color:black;
display:block;
font-size:18px;
margin-bottom:30px;
padding:12px;
position:relative;
text-decoration:none;
width:900px;
}

.cart_item:hover {
background-color:#eee;
}

#cart_items {
list-style:none;
margin-top:100px;
}

#checkout_button {
background-color:#ffffff;
border:none;
border-radius:40px;
color:#000000;
cursor:pointer;
display:inline-block;
font-size:18px;
font-weight:bolder;
height:20px;
margin:0 0 0 10px;
padding:16px 32px 40px 16px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
width:140px;
}

#checkout_button:hover {
background-color:#ef4444;
}

.close_button {
background-color:#f3f3f3;
border:none;
margin-left:520px;
}

.column {
float:left;
padding-bottom:60px;
padding-left:30px;
width:20%;
}

.inner {
width:inherit;
}

.inner:after {
bottom:50%;
transform:rotate(-45deg);
}

.inner:before {
top:50%;
transform:rotate(45deg);
}

.inner:before,.inner:after {
background:#555555;
content:'';
height:2px;
left:5px;
position:absolute;
width:45px;
}

.outer {
cursor:pointer;
margin:15px 15px auto auto;
position:relative;
width:45px;
}

.quality_form {
margin:15px;
}

.quantity {
margin:20px 0 0 20px;
}

.quantity_menu {
margin-left:20px;
margin-top:20px;
}

select {
background-color:#ffffff;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
height:30px;
padding:5px 20px;
width:100px;
}

#subtotal {
background-color:#d3d3d3;
border-radius:0;
height:350px;
padding:25px;
position:fixed;
right:30px;
text-align:center;
top:110px;
width:450px;
}

#subtotal_number {
font-size:24px;
font-weight:lighter;
margin-bottom:40px;
}

#subtotal_title {
font-size:20px;
font-weight:bolder;
margin-top:20px;
}

#your_order_title {
font-size:18px;
font-weight:bold;
}
