body {
font-family:"F37 Ginger"!important;
max-width:400px;
overflow-x:hidden;
overflow-y:scroll;
}

.book_author_1,.book_author_2,.book_author_3,.book_author_4 {
font-size:12px;
}

.book_cover {
box-shadow:3px 3px 5px #979797;
display:none;
float:left;
margin:10px 10px 0;
width:80px;
}

.book_info {
line-height:1.2;
padding-bottom:20px;
padding-top:10px;
width:300px;
}

.book_info:after {
clear:both;
content:"";
display:table;
}

.book_price {
display:none;
font-size:12px;
font-weight:30;
}

.book_subtotal {
font-size:12px;
font-weight:lighter;
margin-top:15px;
}

.book_title {
font-size:14px;
}

#cart {
display:none;
}

#cart_items {
margin-bottom:30px;
margin-right:30px;
margin-top:250px;
}

.cart_item {
background-color:#f3f3f3;
border:10px solid #ffffff;
border-radius:30px;
color:black;
font-size:18px;
padding:10px;
text-decoration:none;
width:340px;
}

#checkout_button {
background-color:#f3f3f3;
border:none;
border-radius:40px;
color:#000000;
cursor:pointer;
display:inline-block;
font-size:14px;
font-weight:bold;
height:50px;
margin:0;
padding:10px;
position:absolute;
right:100px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
top:150px;
width:160px;
}

#checkout_button:hover {
background-color:#ef4444;
}

.close_button {
background-color:#f3f3f3;
border:none;
margin-left:265px;
}

.column {
float:left;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
width:30%;
}

.inner {
width:inherit;
}

.inner:after {
bottom:50%;
transform:rotate(-45deg);
}

.inner:before {
top:50%;
transform:rotate(45deg);
}

.inner:before,.inner:after {
background:#555555;
content:'';
height:1px;
position:absolute;
width:20px;
}

.outer {
cursor:pointer;
margin:10px 20px auto auto;
position:relative;
width:4px;
}

.quantity,.book_subtotal_title {
font-size:12px;
margin-top:20px;
}

select {
background-color:#ffffff;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
height:20px;
padding:5px 20px;
width:60px;
}

#subtotal {
background-color:#ffffff;
height:140px;
margin:0 auto;
padding:0;
position:absolute;
right:15px;
text-align:center;
top:100px;
width:365px;
}

#subtotal_number {
font-weight:30;
}

.title_and_author {
margin-top:-10px;
}
