input:focus,
select:focus,
textarea:focus,
button:focus {
outline:none!important;
}

#active {
background-color:#ef4444!important;
color:#ffffff!important;
}

#active:hover {
color:#555555!important;
}
	
body {
background-color:#EF4444!important;
font-family:"F37 Ginger"!important;
margin:0;
overflow-x:hidden;
}

#best_sellers {
background-color:#FFFFFF;
display:flex;
height:650px;
}

#best_sellers_title {
text-align:left;
width:200px;
}

.book {
float:left;
font-size:18px;
padding-left:70px;
text-align:center;
}

.book_author {
font-size:16px;
font-weight:lighter;
line-height:1;
text-align:center;
}

.book_cover {
cursor:pointer;
height:260px;
margin:10px;
opacity:1;
width:200px;
}

.book_cover:hover {
opacity:0.8;
}

.book_price {
text-align:center;
}

.book_title {
font-size:18px;
font-weight:bolder;
line-height:2;
}

.caption_container {
margin:30px 95px;
text-align:center;
width:200px;
}

.carousel-controls {
bottom:750px;
color:black;
cursor:pointer;
font-size:100px;
left:0;
line-height:600px;
position:absolute;
right:300px;
width:1320px;
z-index:999;
}

.carousel-controls .prev-slide {
left:0;
text-align:left;
width:49%;
}

.carousel-controls .next-slide {
right:0;
text-align:right;
width:49%;
}

.carousel-controls label {
cursor:pointer;
display:none;
opacity:1;
padding:0 20px;
position:absolute;
transition:opacity .2s;
}

.carousel-controls label:active {
opacity:0.4;
}

.container {
padding:10px 20px;
text-align:center;
}

.container-fluid {
background-color:#ffffff;
border-color:white!important;
max-height:1200px!important;
position:sticky;
z-index:999;
}

.dropdown-menu {
border:none!important;
}

.dropdown-toggle {
color:#555555!important;
}

.dropdown-toggle:hover {
background-color:none!important;
color:#ef4444!important;
}

.dropdown-toggle:focus {
background-color:#f3f3f3!important;
color:#ef4444!important;
}

#gift_cards {
height:400px;
}

.gift_cards {
display:inline-grid;
margin:10px 60px 20px 40px;
width:25%;
}

#gift_cards_section {
background-color:#ffffff;
height:600px;
padding-top:10px;
}

.icon {
width: 20px!important;
height: 20px!important;
}

.icon_name:hover {
color:#ef4444!important;
}

.image_and_caption {
display:inline-block;
margin-bottom:25px;
margin-left:30px;
width:80%;
}

input:checked + .slide-container .slide-image {
opacity:1;
transform:scale(1);
transition:opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label,input:checked + .slide-container .nav label {
display:block;
}

#landing_page {
align-items:center;
background:none;
display:flex;
flex-direction:column;
height:700px;
justify-content:center;
ms-flex-align:center;
ms-flex-pack:center;
webkit-box-align:center;
webkit-box-pack:center;
}

#landing_title_big {
color:#000000;
font-size:100px;
font-weight:bolder;
position:inherit;
text-align:center;
z-index:100;
}

#landing_title_box {
background:#FFFFFF;
bottom:10px;
height:40px;
left:-25px;
position:absolute;
width:570px;
z-index:inherit;
}

#landing_title_container {
position:relative;
z-index:-100;
}

#landing_title_small {
bottom:120px;
color:#000000;
font-size:40px;
font-weight:bolder;
left:140px;
position:absolute;
text-align:center;
z-index:100;
}

#landing_subtitle {
color:#000000;
font-size:30px;
font-style:italic;
left:545px;
position:absolute;
text-align:center;
top:450px;
}

#learn_more {
background-color:#d4d4d4;
border-radius:30px;
font-size:18px;
font-weight:bolder;
height:50px;
margin:0 auto;
padding-left:30px;
padding-top:10px;
text-transform:uppercase;
width:180px;
}

#learn_more:hover {
background-color:#ef4444;
}

.menu_item {
color:#555555!important;
padding:10px;
}

.menu_item:hover {
color:#ef4444!important;
}

.navbar {
background-color: #ffffff!important;
border-color: #ffffff!important;
opacity: 0.95!important;
}

.navbar-collapse {
max-height:1000px!important;
}

navbar-inverse {
border-color:white!important;
}

.navbar-toggle {
background-color:#555555!important;
border:none!important;
}

.navbar-toggle:focus {
background-color:#ef4444!important;
}

#our_suggestions {
background-color:#F3F3F3;
display:flex;
height:600px;
}

#our_suggestions_container {
margin-top:150px;
position:absolute;
}

#related_books {
background-color:#F3F3F3;
height:620px;
margin-top:100px;
}

.section_title {
font-size:28px;
font-weight:bolder;
margin:40px 0 20px 40px;
width:1000px;
}

.scrolling-wrapper,ul.slides input {
display:none;
}

.slides * {
khtml-user-select:none;
moz-user-select:none;
ms-user-select:none;
user-select:none;
webkit-touch-callout:none;
webkit-user-select:none;
}

.slide-container {
display:inline-block;
margin:400px -50px;
white-space:nowrap;
width:1400px;
}

.slide-image {
bottom:40%;
display:inherit;
height:60%;
opacity:0;
position:absolute;
top:0;
transition:all .7s ease-in-out;
width:20%;
}

.slide-image img {
height:90%;
margin:30px 80px 0px 100px;
width:90%;
}

.slide-image:hover + .carousel-controls label {
opacity:0.5;
}

.slides {
display:block;
height:600px;
left:-200px;
list-style:none;
overflow:hidden;
padding:0;
position:absolute;
top:120px;
}

.suggestion {
font-size:16px;
font-weight:lighter;
margin-right:25px;
}

.suggestor_name {
color:#ef4444;
font-size:16px;
font-weight:bold;
}

.text_container {
font-size:14px;
margin:20px;
width:400px;
}
