@charset "utf-8";
/* CSS Document */

/* General */

body {
  margin: 0;
  font-family: 'F37 Ginger';
  background-color: #ef4444;
  font-family: "F37 Ginger";
  max-width: 768px;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #000;
}

.carousel {
	display: none
}


.scrolling-wrapper {
  opacity: 1;
  height: 550px; 
  width: 768px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  top:820px;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.scrolling-wrapper-suggestions {
  opacity: 0;
  height: 550px; 
  width: 768px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  top:1500px;
  text-outline: 150px 0px;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  padding-left: 30px;
  padding-right: 30px;
}

  .card {
    display: inline-block;
  }


::-webkit-scrollbar { 
    display: none; 
}

div.image_and_caption {
  margin-bottom: 25px;
  margin-left: 30px;
}

.book_cover {
  height: 294px;
  width: 216px;
}

.caption_container {
	text-align: center;
	padding-right: 110px;
}



#landing_page {
	background: none;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	flex-direction: column;
    height: 700px;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
}


#landing_title_container {
	position: relative;
	z-index: -100;	
}

#landing_title_box {
  width: 570px; 
  height: 40px; 
  background: #FFFFFF;
  position: absolute;
  bottom: 80px;
  left: -25px;
  z-index: inherit;
}

#landing_title_big {
	z-index: 100;
	position: inherit;
	font-size: 100px;
	text-align: center;
	font-weight: bolder;
}

#landing_title_small {
	z-index: 100;
	text-align: center;
	position: absolute;
	top: -20px;
	left: 140px;
	font-weight: bolder;
	font-size: 40px;
}

.section_title {
	font: bolder;
	font-size: 20px;
	font-weight: bolder;
	padding-left: 25px;
	clear: left;
}

#landing_subtitle {
	color: rgba(0,0,0,0.8);
	text-align: center;
	font-style: italic;
	font-size: 30px;
	position: absolute;
	top: 430px;
	left:170px;
	width: 400px;
}

#fresh_releases {
	background-color: #FFFFFF;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 700px;
	width: 768px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
}

#our_suggestions {
	background-color: #F3F3F3;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1850px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
}

.gift_cards {
	height:10px;
}



@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}


.scrollmenu-container {
  display: flex;
  max-width: 800px;
}

.scrollmenu {
  flex: 1;
  overflow: hidden;
  display: flex;
  background-color: #222;
  white-space: nowrap;
  
}

.scrollmenu-container button {
  background-color: #555;
  color: #ccc;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.scrollmenu-container button:hover {
  color: #fff;
}

.scrollmenu a {
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  width: 180px;
  height: 300px;
}

.scrollmenu a:hover {
  background-color: #777;
}

.carousel {
	position: absolute;
	top:800px;
	left:20px;	
	align-content: center;
	width: 768px;
}

.carousel_sugg {
	position: absolute;
	top:780px;
	left:20px;	
	align-content: center;
	width: 768px;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: inline-block; 
	white-space: nowrap;
	width:400px;
}

.slide-image {
    display: inherit;
    position: absolute;
	bottom:80%;
	left:0%;
    width: 20%;
    height: 60%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: 150%;
    height: 73%;
	margin-left: 25px;
	margin-top: 10px;
}

.image_and_caption {
	padding-right: 110px;
}


.carousel-controls {
    position: absolute;
    bottom: 780px;
    left: 0px;
    right: 1000px;
	width:710px;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: black;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 0px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.caption_container {
	text-align: center;
	padding-left: 35px;
	width:100px;
}

div.image_and_caption {
  width: 80%;
  margin-bottom: 25px;
  display: inline-block;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input:checked + .slide-container .nav label { display: block; }

#gift_cards_section {
	padding-top: 10px;
	background-color: #ffffff;
	height: 1400px;
}

.gift_cards {
	width:768px;
	display: inline-grid;
	margin: 10px 60px 20px 40px;
	float: left;
	padding-left: 120px;
	padding-bottom: 300px;
	padding-top: 50px;

}

.book_author, .book_title, .book_price {
	text-align: center;
}

.text_container {
	width: 450px;
	font-weight: lighter;
}



