body {
font-family:'F37 Ginger'!important;
height:50px;
}

#single_genre {
text-align:center;
padding-top:60px;
font-weight:bolder;
font-size:24px;
}

.header_container {
height:150px;
background-color:#FFF;
z-index:-100;
}

.header_text {
z-index:100;
text-align:center;
margin-top:120px;
font-weight:bolder;
font-size:40px;
}

.filter {
list-style:none;
padding:10px;
}

.dropdown_menu {
display:inherit;
font-size:14px;
}

#filters_container {
display:grid;
grid-template-columns:auto auto auto auto;
width:900px;
margin:-55px 300px;
}

select {
width:160px;
border:none;
border-radius:4px;
background-color:#f1f1f1;
font-family:"F37 Ginger";
font-size:14px;
padding:5px 20px;
}

.books_containers {
display:grid;
grid-template-columns:auto auto auto auto auto;
position:absolute;
top:250px;
left:20px;
margin-top:120px;
}

.book {
font-size:18px;
text-align:center;
margin-left:60px;
margin-bottom:-80px;
height:600px;
}

.book_cover {
width:200px;
height:270px;
opacity:1;
cursor:pointer;
}

.book_cover:hover {
opacity:0.8;
}

.book_title {
font-weight:700;
font-size:15px;
}

.authors_container {
line-height:0.01;
}

.book_author {
font-weight:lighter;
font-size:12px;
}

h4,.filter_title,.dropdown_first {
font-size:16px;
}

.filter_checkbox,.checkbox_container {
margin-top:40px;
}
