.author {
font-size:24px;
margin-top:10px;
text-align:center;
}

#book_details {
background-color:#D9D9D9;
border:none;
border-radius:30px;
color:#000000;
display:table-cell;
font-size:16px;
font-weight:bolder;
height:50px;
left:630px;
margin:0 auto;
padding-top:15px;
position:absolute;
text-align:center;
text-decoration:none;
text-transform:uppercase;
top:950px;
vertical-align:middle;
width:200px;
}

#book_details:hover {
background-color:#ef4444;
}

#condition {
font-size:20px;
font-weight:bold;
margin:450px 0 50px;
text-align:center;
}

.date,.place {
color:rgba(67,67,67,1.00);
font-size:24px;
margin-left:30px;
margin-top:50px;
text-align:center;
}

.description {
font-size:20px;
font-weight:lighter;
margin:60px 250px 60px 450px;
padding-bottom:40px;
width:580px;
}

.event {
background-color:#FFFFFF;
height:350px;
padding-bottom:20px;
padding-top:20px;
}

.event_photo {
height:300px;
margin-left:610px;
width:240px;
}

.header_container {
background-color:white;
height:150px;
z-index:-100;
}

.header_text {
font-size:40px;
font-weight:bolder;
margin-top:120px;
text-align:center;
z-index:100;
}

.section_title {
clear:left;
font:bolder;
font-size:20px;
font-weight:bolder;
padding-bottom:30px;
padding-left:25px;
padding-top:15px;
}

body {
font-family:"F37 Ginger"!important;
}
