<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento senza titolo</title>
<link href="Who we are page CSS.css" rel="stylesheet">
</head>

<body>
	
<!--- Top navigation bar --->	
	
<div class="content-wrapper">
  	
	<div class="navmenu">
	  
    <span id="menu"><img src="img/hamburger menu.png" alt="hamburger_menu" width="40px" height="30px"></span>
    <nav id="navbar" itemprop="mainEntity" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
		
    <ul class="navbar" id="myNavbar">
		
		<li><a href="/" itemprop="url" title="logo"><span itemprop="name">Home</span></a></li>
		
		<li id="sub-menu-categories">
		<span itemprop="name" class="dropdown_title">Types</span>
        <ul class="sub-menu">
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Family</span></a></li>
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Friendship</span></a></li>	
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Horror</span></a></li>				
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Justice</span></a></li>	
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Love</span></a></li>				
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Philisophical</span></a></li>	
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">War</span></a></li>	
		</ul>
		</li>
        
		<li id="sub-menu-genres">
		<span itemprop="name" class="dropdown_title">Genres</span>
        <ul class="sub-menu">
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Art &amp; design</span></a></li>
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Fiction</span></a></li>		   
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Mystery</span></a></li>	
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Non fiction</span></a></li>
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Science fiction</span></a></li>	
		</ul>
		</li>
		<li><a href="/" itemprop="url" title="Events"><span itemprop="name">Events</span></a></li>
		<li><a href="/" itemprop="url" title="Contact us"><span itemprop="name">About us</span></a></li>


<li>

		<form action="/search" autocomplete="on" id="search-form" method="get">
		<input type="text" placeholder="Search here" size="15"/>
		<div id="search_button"><img src="img/search icon.png" id="search_icon" alt="search icon" width="25px" height="25px"></div>
    	</form>   	

		</li>			
				
        </ul>

</nav>
	
	
		<div class="menu_icons_container">
		<span class="menu_icons"><img src="img/logo profile.png" alt="logo_profile" width="35px" height="35px" /></span>
		<span class="menu_icons"><img src="img/logo cart.png" alt="logo_cart" width="35px" height="35px"/></span>	
		</div>	

</div>
</div>
	
<div style="clear: both;"/>
	
<!--- End of Top navigation bar --->	
		
	
	
<section id="header_section">
<div class="header_container">	
<h1 class="header_text">About us</h1>	
<div class="header_box"></div>
</div>
</section>
<img src="img/bookshop.jpg" width="1500px">

<section id="who_we_are_section">
<h6 id="who_we_are_text">There is truly something to be found for even the most discerning of readers.
<br>
Our friendly and knowledgeable booksellers are more than happy to assist you in exploring our shop and taking advantage of the many services we offer.
<br>
<br>
These include our diverse and relaxed events programme, from Hillary Clinton to small launches and readings with the Royal Academy, as well as our complimentary gift-wrapping service and competitive worldwide shipping.<br>
<br>
We also offer a selection of beautiful first edition books for something a little different, and are more than happy to try and source any individual requests.</h6></section>

<section id="faq_section">
<h3 class="section_title">FAQs</h3>	

<p class="faq">Do you also sell second-hand books?</p>
<p class="faq_answer">Yes, you will find a dedicated section near the checkouts, at competitive prices</p>

<p class="faq">Can I bring you some old books I don't need anymore?</p>
<p class="faq_answer">We would be glad to accept your books and give you a small payment, given that the books are in decent condition</p>

<p class="faq">Can I order a book and pay when I retire it?</p>
<p class="faq_answer">No, unfortunately we don't allow delayed payment. You need to pay during the reservation process, then come to get your book within a week.</p>

<p class="faq">Are your events free?</p>
<p class="faq_answer">It depends, many of the meetings and conferences we offer are free, but there are some workshops that require a small participation payment. Check the single event's page if you have any doubt.</p>


</section>	
	
<section id="contacts">
<h3 class="section_title">Contacts</h3>
<img src="img/map.jpg" id="map">	

<div id="contacts_container">
<div id="contacts_rows">
	<p>14-16 Bury Pl, Bloomsbury, London WC1A 2JL</p>
	<p>info@bookaholic.co.uk</p>
	<p>+44 20 7269 9030</p>
	<br>
	<br>
</div>

<div class="row">
	<div class="column">
	<p>Monday<br><br>Tuesday<br><br>Wednesday<br><br>Thursday<br><br>Friday<br><br>Saturday<br><br>Sunday</p>
	</div>
	<div class="column">
	<p>9am-6pm<br><br>9am-6pm<br><br>9am-6pm<br><br>9am-6pm<br><br>9am-9pm<br><br>9am-9pm<br><br>closed</p>
	</div>
</div>

</div>


	
</section>
	
</body>
</html>
