<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento senza titolo</title>
<link href="/assets/css/about_us_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/about_us_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/about_us_400px.css" />
</head>


<body>

		
	
<section id="header_section">
<div class="header_container">	
<h1 class="header_text">About us</h1>	
<div class="header_box"></div>
</div>
</section>
	
<img src="/assets/img/bookshop.jpg" id="about_us_photo" width="1500px">

<section id="who_we_are_section">
<h6 id="who_we_are_text">There is truly something to be found for even the most discerning of readers.
<br>
Our friendly and knowledgeable booksellers are more than happy to assist you in exploring our shop and taking advantage of the many services we offer.
<br>
<br>
These include our diverse and relaxed events programme, from Hillary Clinton to small launches and readings with the Royal Academy, as well as our complimentary gift-wrapping service and competitive worldwide shipping.<br>
<br>
We also offer a selection of beautiful first edition books for something a little different, and are more than happy to try and source any individual requests.</h6></section>

<section id="faq_section">
<h3 class="section_title">FAQs</h3>	

<p class="faq">Do you also sell second-hand books?</p>
<p class="faq_answer">Yes, you will find a dedicated section near the checkouts, at competitive prices</p>

<p class="faq">Can I bring you some old books I don't need anymore?</p>
<p class="faq_answer">We would be glad to accept your books and give you a small payment, given that the books are in decent condition</p>

<p class="faq">Can I order a book and pay when I retire it?</p>
<p class="faq_answer">No, unfortunately we don't allow delayed payment. You need to pay during the reservation process, then come to get your book within a week.</p>

<p class="faq">Are your events free?</p>
<p class="faq_answer">It depends, many of the meetings and conferences we offer are free, but there are some workshops that require a small participation payment. Check the single event's page if you have any doubt.</p>


</section>	
	
<section id="contacts">
<h3 class="section_title">Contacts</h3>
<img src="/assets/img/map.jpg" id="map">	

<div id="contacts_greenwich_container">
<div id="contacts_greenwich_rows">
	<p class="shop_name">Bookaholic Greenwich</p>
	<p>14-16 Bury Pl, Bloomsbury, London WC1A 2JL</p>
	<p>+44 20 7269 9030</p>
	<br>
	<p class="shop_name">Bookaholic Mudchute</p>
	<p>11 Glengall Grove, Isle of Dogs, London E14 3ND</p>
	<p>+44 20 3637 5993</p>
	<br>
<a href="mailto:info@bookaholic.co.uk">
info@bookaholic.co.uk
</a>

<br>
	
	</div>

<div class="row">
	<div class="column">
	<p>Monday<br><br>Tuesday<br><br>Wednesday<br><br>Thursday<br><br>Friday<br><br>Saturday<br><br>Sunday</p>
	</div>
	<div class="column">
	<p>9am-6pm<br><br>9am-6pm<br><br>9am-6pm<br><br>9am-6pm<br><br>9am-9pm<br><br>9am-9pm<br><br>closed</p>
	</div>
</div>
</div>


	
</section>
	
</body>
</html>
