<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>All themes</title>
<link href="All themes CSS.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="All themes 768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="All themes 400px.css" />
</head>

<body>

	
<section id="header_section">
<div class="header_container">	
<h1 class="header_text">All themes</h1>	
<div class="header_box"></div>
</div>
</section>
	
<section id="art and design">	

	
	<h3 class="section_title">
Family
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="img/7_modes_of_uncertainty.jpg" class="book_cover" id="book1_photo_family">	
<h4 class="book_name" id="book1_name_family">American Spy</h4>
<h4 class="book_author" id="book1_author1_family">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_family"><br></h4>
<h4 class="book_author" id="book1_author3_family"><br></h4>
<h4 class="book_author" id="book1_author4_family"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book2_photo_family">	
<h4 class="book_name" id="book2_name_family">American Spy</h4>
<h4 class="book_author" id="book2_author1_family">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_family"><br></h4>
<h4 class="book_author" id="book2_author3_family"><br></h4>
<h4 class="book_author" id="book2_author4_family"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book3_photo_family">	
<h4 class="book_name" id="book3_name_family">American Spy</h4>
<h4 class="book_author" id="book3_author1_family">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_family"><br></h4>
<h4 class="book_author" id="book3_author3_family"><br></h4>
<h4 class="book_author" id="book3_author4_family"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book4_photo_family">	
<h4 class="book_name" id="book4_name_family">American Spy</h4>
<h4 class="book_author" id="book4_author1_family">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_family"><br></h4>
<h4 class="book_author" id="book4_author3_family"><br></h4>
<h4 class="book_author" id="book4_author4_family"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book5_photo_family">	
<h4 class="book_name" id="book5_name_family">American Spy</h4>
<h4 class="book_author" id="book5_author1_family">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_family"><br></h4>
<h4 class="book_author" id="book5_author3_family"><br></h4>
<h4 class="book_author" id="book5_author4_family"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>

	

<section  id="friendship">	

	
	<h3 class="section_title">
Friendship
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book1_photo_friendship">	
<h4 class="book_name" id="book1_name_friendship">American Spy</h4>
<h4 class="book_author" id="book1_author1_friendship">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_friendship"><br></h4>
<h4 class="book_author" id="book1_author3_friendship"><br></h4>
<h4 class="book_author" id="book1_author4_friendship"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book2_photo_friendship">	
<h4 class="book_name" id="book2_name_friendship">American Spy</h4>
<h4 class="book_author" id="book2_author1_friendship">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_friendship"><br></h4>
<h4 class="book_author" id="book2_author3_friendship"><br></h4>
<h4 class="book_author" id="book2_author4_friendship"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book3_photo_friendship">	
<h4 class="book_name" id="book3_name_friendship">American Spy</h4>
<h4 class="book_author" id="book3_author1_friendship">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_friendship"><br></h4>
<h4 class="book_author" id="book3_author3_friendship"><br></h4>
<h4 class="book_author" id="book3_author4_friendship"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book4_photo_friendship">	
<h4 class="book_name" id="book4_name_friendship">American Spy</h4>
<h4 class="book_author" id="book4_author1_friendship">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_friendship"><br></h4>
<h4 class="book_author" id="book4_author3_friendship"><br></h4>
<h4 class="book_author" id="book4_author4_friendship"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book5_photo_friendship">	
<h4 class="book_name" id="book5_name_friendship">American Spy</h4>
<h4 class="book_author" id="book5_author1_friendship">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_friendship"><br></h4>
<h4 class="book_author" id="book5_author3_friendship"><br></h4>
<h4 class="book_author" id="book5_author4_friendship"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>	
	
	
<section  id="fear">	

	
	<h3 class="section_title">
Fear
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_fear">	
<h4 class="book_name" id="book1_name_fear">American Spy</h4>
<h4 class="book_author" id="book1_author1_fear">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_fear"><br></h4>
<h4 class="book_author" id="book1_author3_fear"><br></h4>
<h4 class="book_author" id="book1_author4_fear"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_fear">	
<h4 class="book_name" id="book2_name_fear">American Spy</h4>
<h4 class="book_author" id="book2_author1_fear">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_fear"><br></h4>
<h4 class="book_author" id="book2_author3_fear"><br></h4>
<h4 class="book_author" id="book2_author4_fear"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_fear">	
<h4 class="book_name" id="book3_name_fear">American Spy</h4>
<h4 class="book_author" id="book3_author1_fear">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_fear"><br></h4>
<h4 class="book_author" id="book3_author3_fear"><br></h4>
<h4 class="book_author" id="book3_author4_fear"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_fear">	
<h4 class="book_name" id="book4_name_fear">American Spy</h4>
<h4 class="book_author" id="book4_author1_fear">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_fear"><br></h4>
<h4 class="book_author" id="book4_author3_fear"><br></h4>
<h4 class="book_author" id="book4_author4_fear"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book5_photo_fear">	
<h4 class="book_name" id="book5_name_fear">American Spy</h4>
<h4 class="book_author" id="book5_author1_fear">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_fear"><br></h4>
<h4 class="book_author" id="book5_author3_fear"><br></h4>
<h4 class="book_author" id="book5_author4_fear"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>		

<section  id="justice">	

	
	<h3 class="section_title">
Justice
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_justice">	
<h4 class="book_name" id="book1_name_justice">American Spy</h4>
<h4 class="book_author" id="book1_author1_justice">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_justice"><br></h4>
<h4 class="book_author" id="book1_author3_justice"><br></h4>
<h4 class="book_author" id="book1_author4_justice"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_justice">	
<h4 class="book_name" id="book2_name_justice">American Spy</h4>
<h4 class="book_author" id="book2_author1_justice">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_justice"><br></h4>
<h4 class="book_author" id="book2_author3_justice"><br></h4>
<h4 class="book_author" id="book2_author4_justice"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_justice">	
<h4 class="book_name" id="book3_name_justice">American Spy</h4>
<h4 class="book_author" id="book3_author1_justice">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_justice"><br></h4>
<h4 class="book_author" id="book3_author3_justice"><br></h4>
<h4 class="book_author" id="book3_author4_justice"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_justice">	
<h4 class="book_name" id="book4_name_justice">American Spy</h4>
<h4 class="book_author" id="book4_author1_justice">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_justice"><br></h4>
<h4 class="book_author" id="book4_author3_justice"><br></h4>
<h4 class="book_author" id="book4_author4_justice"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/american_spy.jpg" class="book_cover" id="book5_photo_justice">	
<h4 class="book_name" id="book5_name_justice">American Spy</h4>
<h4 class="book_author" id="book5_author1_justice">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_justice"><br></h4>
<h4 class="book_author" id="book5_author3_justice"><br></h4>
<h4 class="book_author" id="book5_author4_justice"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>	
	
	
<section  id="love">	

	
	<h3 class="section_title">
Love
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_love">	
<h4 class="book_name" id="book1_name_love">American Spy</h4>
<h4 class="book_author" id="book1_author1_love">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_love"><br></h4>
<h4 class="book_author" id="book1_author3_love"><br></h4>
<h4 class="book_author" id="book1_author4_love"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_love">	
<h4 class="book_name" id="book2_name_love">American Spy</h4>
<h4 class="book_author" id="book2_author1_love">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_love"><br></h4>
<h4 class="book_author" id="book2_author3_love"><br></h4>
<h4 class="book_author" id="book2_author4_love"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_love">	
<h4 class="book_name" id="book3_name_love">American Spy</h4>
<h4 class="book_author" id="book3_author1_love">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_love"><br></h4>
<h4 class="book_author" id="book3_author3_love"><br></h4>
<h4 class="book_author" id="book3_author4_love"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_love">	
<h4 class="book_name" id="book4_name_love">American Spy</h4>
<h4 class="book_author" id="book4_author1_love">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_love"><br></h4>
<h4 class="book_author" id="book4_author3_love"><br></h4>
<h4 class="book_author" id="book4_author4_love"><br></h4>
</div>
	

<div class="book">
<img src="/assets/img/american_spy.jpg" class="book_cover" id="book5_photo_love">	
<h4 class="book_name" id="book5_name_love">American Spy</h4>
<h4 class="book_author" id="book5_author1_love">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_love"><br></h4>
<h4 class="book_author" id="book5_author3_love"><br></h4>
<h4 class="book_author" id="book5_author4_love"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>	
	
<section  id="philosophical">	


	<h3 class="section_title">
Philosophical
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_philosophical">	
<h4 class="book_name" id="book1_name_philosophical">American Spy</h4>
<h4 class="book_author" id="book1_author1_philosophical">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_philosophical"><br></h4>
<h4 class="book_author" id="book1_author3_philosophical"><br></h4>
<h4 class="book_author" id="book1_author4_philosophical"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_philosophical">	
<h4 class="book_name" id="book2_name_philosophical">American Spy</h4>
<h4 class="book_author" id="book2_author1_philosophical">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_philosophical"><br></h4>
<h4 class="book_author" id="book2_author3_philosophical"><br></h4>
<h4 class="book_author" id="book2_author4_philosophical"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_philosophical">	
<h4 class="book_name" id="book3_name_philosophical">American Spy</h4>
<h4 class="book_author" id="book3_author1_philosophical">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_philosophical"><br></h4>
<h4 class="book_author" id="book3_author3_philosophical"><br></h4>
<h4 class="book_author" id="book3_author4_philosophical"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_philosophical">	
<h4 class="book_name" id="book4_name_philosophical">American Spy</h4>
<h4 class="book_author" id="book4_author1_philosophical">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_philosophical"><br></h4>
<h4 class="book_author" id="book4_author3_philosophical"><br></h4>
<h4 class="book_author" id="book4_author4_philosophical"><br></h4>
</div>
	

<div class="book">
<img src="/assets/img/american_spy.jpg" class="book_cover" id="book5_photo_philosophical">	
<h4 class="book_name" id="book5_name_philosophical">American Spy</h4>
<h4 class="book_author" id="book5_author1_philosophical">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_philosophical"><br></h4>
<h4 class="book_author" id="book5_author3_philosophical"><br></h4>
<h4 class="book_author" id="book5_author4_philosophical"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>
	
	
<section  id="war">	

	
	<h3 class="section_title">
War
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_war">	
<h4 class="book_name" id="book1_name_war">American Spy</h4>
<h4 class="book_author" id="book1_author1_war">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_war"><br></h4>
<h4 class="book_author" id="book1_author3_war"><br></h4>
<h4 class="book_author" id="book1_author4_war"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_war">	
<h4 class="book_name" id="book2_name_war">American Spy</h4>
<h4 class="book_author" id="book2_author1_war">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_war"><br></h4>
<h4 class="book_author" id="book2_author3_war"><br></h4>
<h4 class="book_author" id="book2_author4_war"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_war">	
<h4 class="book_name" id="book3_name_war">American Spy</h4>
<h4 class="book_author" id="book3_author1_war">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_war"><br></h4>
<h4 class="book_author" id="book3_author3_war"><br></h4>
<h4 class="book_author" id="book3_author4_war"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_war">	
<h4 class="book_name" id="book4_name_war">American Spy</h4>
<h4 class="book_author" id="book4_author1_war">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_war"><br></h4>
<h4 class="book_author" id="book4_author3_war"><br></h4>
<h4 class="book_author" id="book4_author4_war"><br></h4>
</div>
	

<div class="book">
<img src="/assets/img/american_spy.jpg" class="book_cover" id="book5_photo_war">	
<h4 class="book_name" id="book5_name_war">American Spy</h4>
<h4 class="book_author" id="book5_author1_war">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_war"><br></h4>
<h4 class="book_author" id="book5_author3_war"><br></h4>
<h4 class="book_author" id="book5_author4_war"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>
	
</body>
</html>
