<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Single book page</title>
<link href="/assets/css/all_genres_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/all_genres_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/all_genres_400px.css" />
</head>

<body>

	
<section id="header_section">
<div class="header_container">	
<h1 class="header_text">All genres</h1>	
<div class="header_box"></div>
</div>
</section>
	
<section id="art and design">	

	
	<h3 class="section_title">
Art and design
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book1_photo_art">	
<h4 class="book_name" id="book1_name_art">American Spy</h4>
<h4 class="book_author" id="book1_author1_art">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_art"><br></h4>
<h4 class="book_author" id="book1_author3_art"><br></h4>
<h4 class="book_author" id="book1_author4_art"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book2_photo_art">	
<h4 class="book_name" id="book2_name_art">American Spy</h4>
<h4 class="book_author" id="book2_author1_art">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_art"><br></h4>
<h4 class="book_author" id="book2_author3_art"><br></h4>
<h4 class="book_author" id="book2_author4_art"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book3_photo_art">	
<h4 class="book_name" id="book3_name_art">American Spy</h4>
<h4 class="book_author" id="book3_author1_art">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_art"><br></h4>
<h4 class="book_author" id="book3_author3_art"><br></h4>
<h4 class="book_author" id="book3_author4_art"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book4_photo_art">	
<h4 class="book_name" id="book4_name_art">American Spy</h4>
<h4 class="book_author" id="book4_author1_art">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_art"><br></h4>
<h4 class="book_author" id="book4_author3_art"><br></h4>
<h4 class="book_author" id="book4_author4_art"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book5_photo_art">	
<h4 class="book_name" id="book5_name_art">American Spy</h4>
<h4 class="book_author" id="book5_author1_art">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_art"><br></h4>
<h4 class="book_author" id="book5_author3_art"><br></h4>
<h4 class="book_author" id="book5_author4_art"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>

	

<section  id="fiction">	

	
	<h3 class="section_title">
Fiction
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book1_photo_fiction">	
<h4 class="book_name" id="book1_name_fiction">American Spy</h4>
<h4 class="book_author" id="book1_author1_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_fiction"><br></h4>
<h4 class="book_author" id="book1_author3_fiction"><br></h4>
<h4 class="book_author" id="book1_author4_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book2_photo_fiction">	
<h4 class="book_name" id="book2_name_fiction">American Spy</h4>
<h4 class="book_author" id="book2_author1_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_fiction"><br></h4>
<h4 class="book_author" id="book2_author3_fiction"><br></h4>
<h4 class="book_author" id="book2_author4_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book3_photo_fiction">	
<h4 class="book_name" id="book3_name_fiction">American Spy</h4>
<h4 class="book_author" id="book3_author1_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_fiction"><br></h4>
<h4 class="book_author" id="book3_author3_fiction"><br></h4>
<h4 class="book_author" id="book3_author4_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book4_photo_fiction">	
<h4 class="book_name" id="book4_name_fiction">American Spy</h4>
<h4 class="book_author" id="book4_author1_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_fiction"><br></h4>
<h4 class="book_author" id="book4_author3_fiction"><br></h4>
<h4 class="book_author" id="book4_author4_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/the_catcher_in_the_rye.jpg" class="book_cover" id="book5_photo_fiction">	
<h4 class="book_name" id="book5_name_fiction">American Spy</h4>
<h4 class="book_author" id="book5_author1_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_fiction"><br></h4>
<h4 class="book_author" id="book5_author3_fiction"><br></h4>
<h4 class="book_author" id="book5_author4_fiction"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>	
	
	
<section  id="mystery">	

	
	<h3 class="section_title">
Mystery
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_mystery">	
<h4 class="book_name" id="book1_name_mystery">American Spy</h4>
<h4 class="book_author" id="book1_author1_mystery">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_mystery"><br></h4>
<h4 class="book_author" id="book1_author3_mystery"><br></h4>
<h4 class="book_author" id="book1_author4_mystery"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_mystery">	
<h4 class="book_name" id="book2_name_mystery">American Spy</h4>
<h4 class="book_author" id="book2_author1_mystery">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_mystery"><br></h4>
<h4 class="book_author" id="book2_author3_mystery"><br></h4>
<h4 class="book_author" id="book2_author4_mystery"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_mystery">	
<h4 class="book_name" id="book3_name_mystery">American Spy</h4>
<h4 class="book_author" id="book3_author1_mystery">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_mystery"><br></h4>
<h4 class="book_author" id="book3_author3_mystery"><br></h4>
<h4 class="book_author" id="book3_author4_mystery"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_mystery">	
<h4 class="book_name" id="book4_name_mystery">American Spy</h4>
<h4 class="book_author" id="book4_author1_mystery">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_mystery"><br></h4>
<h4 class="book_author" id="book4_author3_mystery"><br></h4>
<h4 class="book_author" id="book4_author4_mystery"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book5_photo_mystery">	
<h4 class="book_name" id="book5_name_mystery">American Spy</h4>
<h4 class="book_author" id="book5_author1_mystery">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_mystery"><br></h4>
<h4 class="book_author" id="book5_author3_mystery"><br></h4>
<h4 class="book_author" id="book5_author4_mystery"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>		

<section  id="non_fiction">	

	
	<h3 class="section_title">
Non fiction
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_non_fiction">	
<h4 class="book_name" id="book1_name_non_fiction">American Spy</h4>
<h4 class="book_author" id="book1_author1_non_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_non_fiction"><br></h4>
<h4 class="book_author" id="book1_author3_non_fiction"><br></h4>
<h4 class="book_author" id="book1_author4_non_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_non_fiction">	
<h4 class="book_name" id="book2_name_non_fiction">American Spy</h4>
<h4 class="book_author" id="book2_author1_non_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_non_fiction"><br></h4>
<h4 class="book_author" id="book2_author3_non_fiction"><br></h4>
<h4 class="book_author" id="book2_author4_non_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_non_fiction">	
<h4 class="book_name" id="book3_name_non_fiction">American Spy</h4>
<h4 class="book_author" id="book3_author1_non_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_non_fiction"><br></h4>
<h4 class="book_author" id="book3_author3_non_fiction"><br></h4>
<h4 class="book_author" id="book3_author4_non_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_non_fiction">	
<h4 class="book_name" id="book4_name_non_fiction">American Spy</h4>
<h4 class="book_author" id="book4_author1_non_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_non_fiction"><br></h4>
<h4 class="book_author" id="book4_author3_non_fiction"><br></h4>
<h4 class="book_author" id="book4_author4_non_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/american_spy.jpg" class="book_cover" id="book5_photo_non_fiction">	
<h4 class="book_name" id="book5_name_non_fiction">American Spy</h4>
<h4 class="book_author" id="book5_author1_non_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_non_fiction"><br></h4>
<h4 class="book_author" id="book5_author3_non_fiction"><br></h4>
<h4 class="book_author" id="book5_author4_non_fiction"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>	
	
	
<section  id="science_fiction">	

	
	<h3 class="section_title">
Science fiction
	</h3>		
	
<div class="container">
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg" class="book_cover" id="book1_photo_science_fiction">	
<h4 class="book_name" id="book1_name_science_fiction">American Spy</h4>
<h4 class="book_author" id="book1_author1_science_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book1_author2_science_fiction"><br></h4>
<h4 class="book_author" id="book1_author3_science_fiction"><br></h4>
<h4 class="book_author" id="book1_author4_science_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book2_photo_science_fiction">	
<h4 class="book_name" id="book2_name_science_fiction">American Spy</h4>
<h4 class="book_author" id="book2_author1_science_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book2_author2_science_fiction"><br></h4>
<h4 class="book_author" id="book2_author3_science_fiction"><br></h4>
<h4 class="book_author" id="book2_author4_science_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book3_photo_science_fiction">	
<h4 class="book_name" id="book3_name_science_fiction">American Spy</h4>
<h4 class="book_author" id="book3_author1_science_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book3_author2_science_fiction"><br></h4>
<h4 class="book_author" id="book3_author3_science_fiction"><br></h4>
<h4 class="book_author" id="book3_author4_science_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/a_criminal_defense.jpg"  class="book_cover" id="book4_photo_science_fiction">	
<h4 class="book_name" id="book4_name_science_fiction">American Spy</h4>
<h4 class="book_author" id="book4_author1_science_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book4_author2_science_fiction"><br></h4>
<h4 class="book_author" id="book4_author3_science_fiction"><br></h4>
<h4 class="book_author" id="book4_author4_science_fiction"><br></h4>
</div>
	
<div class="book">
<img src="/assets/img/american_spy.jpg" class="book_cover" id="book5_photo_science_fiction">	
<h4 class="book_name" id="book5_name_science_fiction">American Spy</h4>
<h4 class="book_author" id="book5_author1_science_fiction">Adam Sivera</h4>
<h4 class="book_author" id="book5_author2_science_fiction"><br></h4>
<h4 class="book_author" id="book5_author3_science_fiction"><br></h4>
<h4 class="book_author" id="book5_author4_science_fiction"><br></h4>
</div>
	
<div class="show_more_button">Show more</div>

	</div>	
	
	</section>	
	
</body>
</html>
