<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Author</title>
<link href="/assets/css/author_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/author_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/author_400px.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="Navbar 3 CSS.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" id="bookaholic_logo" href="#"><img src="img/bookaholic logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
  <div class="adjust-height">		
      <ul class="nav navbar-nav">
        <li><a href="#" class="menu_item" id="active">Home</a></li>
        <li><a href="#" class="menu_item">Authors</a></li>		  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Art and design</a></li>
            <li><a href="#">Fiction</a></li>
            <li><a href="#">Mystery</a></li>
            <li><a href="#">Non fiction</a></li>
            <li><a href="#">Science fiction</a></li>
          </ul>
        </li>
		  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Family</a></li>
            <li><a href="#">Fear</a></li>
            <li><a href="#">Friendship</a></li>
            <li><a href="#">Justice</a></li>
            <li><a href="#">Love</a></li>
            <li><a href="#">Philosophy</a></li>
            <li><a href="#">War</a></li>
			  
          </ul>
        </li>		  
		  
        <li><a href="#" class="menu_item">Events</a></li>
        <li><a href="#" class="menu_item">About us</a></li>
      </ul>
		<form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="#"><span class="icon_name"><img src="img/logo profile.png" class="icon"> Profile</span></a></li>
        <li><a href="#"><span class="icon_name"><img src="img/logo cart.png" class="icon"> Cart</span></a></li>
      </ul>
    </div>
  </div>
	</div>
</nav>
		
<!--- Author section --->	
	
<section id="author_intro">
<h3 id="author_name">Author_name</h3>
<img id="author_photo" src="/assets/img/giorgia_lupi.jpg">
<h5 id="author_bio_title">Biography</h5>
<h6 id="author_bio">Giorgia Lupi is an information designer, artist and entrepreneur.
She co-founded Accurat, a data-driven design firm with offices in Milan and New York where she is the Creative Director.
After receiving her Masters in Architecture, she earned a PhD in Design at Politecnico di Milano.
Her work is part of the permanent collection of the Museum of Modern Art, where in 2017 she also was commissioned to create an original site-specific piece.
Her TED TALK on her Humanistic approach to Data has over one million views.
She is co-author of Dear Data. Her new interactive book Observe, Collect, Draw - A Visual Journal, is now available for preorders.
She recently joined MIT Media Lab as a Director's Fellow.
She lives in New York.
</h6>
	</section>
	
<!--- END Author section --->		
	
	
	
<section class="authored_books_section">
	
<h3 class="section_title">Books</h3>	

	
<div class="authored_books_container">
	
<div class="books_containers">
		
<div class="book">	
<img src="/assets/img/good_omens.jpg" class="book_cover" id="book1_cover">	
<h4 class="book_title" id="book1_title">Good Omens</h4>
<h6 class="book_author" id="book1_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book1_author2"><br></h6>
<h6 class="book_author" id="book1_author3"><br></h6>
<h6 class="book_author" id="book1_author4"><br></h6>

</div>
	
<div class="book">	
<img src="/assets/img/chronicles_of_a_radical_hag.jpg" class="book_cover" id="book2_cover">	
<h4 class="book_title" id="book2_title">Good Omens</h4>
<h6 class="book_author" id="book2_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book2_author2"><br></h6>
<h6 class="book_author" id="book2_author3"><br></h6>
<h6 class="book_author" id="book2_author4"><br></h6>
</div>
		
<div class="book">	
<img src="/assets/img/joyful.jpg" class="book_cover" id="book3_cover">	
<h4 class="book_title" id="book3_title">Good Omens</h4>
<h6 class="book_author" id="book3_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book3_author2">Neil Gaiman</h6>
<h6 class="book_author" id="book3_author3"><br></h6>
<h6 class="book_author" id="book3_author4"><br></h6>
</div>		
		
<div class="book">	
<img src="/assets/img/good_omens.jpg" class="book_cover" id="book4_cover">	
<h4 class="book_title" id="book4_title">Good Omens</h4>
<h6 class="book_author" id="book4_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book4_author2"><br></h6>
<h6 class="book_author" id="book4_author3"><br></h6>
<h6 class="book_author" id="book4_author4"><br></h6>

</div>

	</div>
	</div>	
	
	</section>

<!--- Related events section --->
	
<section id="related_events">
<h3 class="section_title">Related events</h3>	
<img src="/assets/img/giorgia_lupi.jpg" id="event_photo">
<h4 id="event_date">15th May 2019, 5 pm<br><span id="event_place">Bookaholic Greenwich</span></h4>
<h2 class="title" id="event_title">The new mystery literature</h2>
<h2 class="author" id="event_author">with Gillian Flynn</h2>
<div id="learn_more">Learn more</div>
	</section>
	
<!--- END Related events section --->	
	
</body>
</html>
