<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento senza titolo</title>
<link href="/assets/css/author_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/author_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/author_400px.css" />
</head>

<body>
		
<!--- Author section --->	
	
<section id="author_intro">
<h3 id="author_name">Author_name</h3>
<img id="author_photo" src="/assets/img/giorgia_lupi.jpg">
<h5 id="author_bio_title">Biography</h5>
<h6 id="author_bio">Giorgia Lupi is an information designer, artist and entrepreneur.<br>
She co-founded Accurat, a data-driven design firm with offices in Milan and New York where she is the Creative Director.<br>
After receiving her Masters in Architecture, she earned a PhD in Design at Politecnico di Milano.<br>
Her work is part of the permanent collection of the Museum of Modern Art, where in 2017 she also was commissioned to create an original site-specific piece.<br>
Her TED TALK on her Humanistic approach to Data has over one million views.<br>
She is co-author of Dear Data. Her new interactive book Observe, Collect, Draw - A Visual Journal, is now available for preorders.<br>
She recently joined MIT Media Lab as a Director's Fellow.<br>
She lives in New York.
</h6>
	</section>
	
<!--- END Author section --->		
	
	
	
<section class="authored_books_section">
	
<h3 class="section_title">Books</h3>	

	
<div class="authored_books_container">
	
<div class="books_containers">
		
<div class="book">	
<img src="/assets/img/good_omens.jpg" class="book_cover" id="book1_cover">	
<h4 class="book_title" id="book1_title">Good Omens</h4>
<h6 class="book_author" id="book1_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book1_author2"><br></h6>
<h6 class="book_author" id="book1_author3"><br></h6>
<h6 class="book_author" id="book1_author4"><br></h6>

</div>
	
<div class="book">	
<img src="/assets/img/chronicles_of_a_radical_hag.jpg" class="book_cover" id="book2_cover">	
<h4 class="book_title" id="book2_title">Good Omens</h4>
<h6 class="book_author" id="book2_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book2_author2"><br></h6>
<h6 class="book_author" id="book2_author3"><br></h6>
<h6 class="book_author" id="book2_author4"><br></h6>
</div>
		
<div class="book">	
<img src="/assets/img/joyful.jpg" class="book_cover" id="book3_cover">	
<h4 class="book_title" id="book3_title">Good Omens</h4>
<h6 class="book_author" id="book3_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book3_author2">Neil Gaiman</h6>
<h6 class="book_author" id="book3_author3"><br></h6>
<h6 class="book_author" id="book3_author4"><br></h6>
</div>		
		
<div class="book">	
<img src="/assets/img/good_omens.jpg" class="book_cover" id="book4_cover">	
<h4 class="book_title" id="book4_title">Good Omens</h4>
<h6 class="book_author" id="book4_author1">Neil Gaiman</h6>
<h6 class="book_author" id="book4_author2"><br></h6>
<h6 class="book_author" id="book4_author3"><br></h6>
<h6 class="book_author" id="book4_author4"><br></h6>

</div>

	</div>
	</div>	
	
	</section>

<!--- Related events section --->
	
<section id="related_events">
<h3 class="section_title">Events</h3>	
<img src="/assets/img/giorgia_lupi.jpg" id="event_photo"><h4 id="event_date">15th May 2019, 5 pm<br><span id="event_place">Bookaholic Greenwich</span></h4>
<h2 class="title" id="event_title">The new mystery literature</h2>
<h2 class="author" id="event_author">with Gillian Flynn</h2>
<h6 id="event_description">Giorgia Lupi is an information designer, artist and entrepreneur. She co-founded Accurat, a data-driven design firm with offices in Milan and New York where she is the Creative Director. The question she wants to ask you is: does data looks like something cold to you? Yes, but is it truly cold? Come and meet her in our bookstore, as she will better explain the whole experience behind Dear Data and the concept of data humanism.</h6>
</section>
	
<!--- END Related events section --->	
	
</body>
</html>
