<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Single book page</title>
<link href="/assets/css/book_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/book_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/book_400px.css" />
</head>

<body>

<section id="book_landing_page">
	
<div id="book_info">	
<img id="book_image" alt="book_cover" src="/assets/img/gingerbread.jpeg">
<h1 id="book_name">Book_name</h1>
<h2 id="book_author">Book_author</h2>
<h2 id="book_price">00.00 eur</h2>
<h5 id="book_resume">For one year, Giorgia Lupi, an Italian living in New York, and Stefanie Posavec, an American in London, mapped the particulars of their daily lives as a series of hand-drawn postcards they exchanged via mail weekly—small portraits as full of emotion as they are data, both mundane and magical. Dear Data reproduces in pinpoint detail the full year's set of cards, front and back, providing a remarkable portrait of two artists connected by their attention to the details of their lives—including complaints, distractions, phone addictions, physical contact, and desires.</h5>
<div id="add_to_cart_button">add to cart</div>
</div>	

</section>
	
	
<section id="fact_and_author">	
<div id="fact_sheet">
<h4 class="section_title" id="fact_sheet_title">Fact sheet</h4>	
<div id="fact_sheet_content">
<div class="column">	
<h4 class="fact_title">Released:</h4>
<h5 id="release_date">Release_date</h5>
<h4 class="fact_title">Language</h4>
<h5 id="book_language">Book_language</h5>
<h4 class="fact_title">Genre</h4>
<h5 id="book_genre">Book_genre</h5>
</div>
<div class="column">	
<h4 class="fact_title">Publisher:</h4>
<h5 id="book_publisher">Book_publisher</h5>
<h4 class="fact_title">ISBN</h4>
<h5 id="isbn">Book_ISBN</h5>
<h4 class="fact_title">Type of cover</h4>
<h5 id="type_of_cover">hardcover</h5>
</div>
</div>
</div>	
	
<div id="about_the_author">
<h4 class="section_title" id="about_the_author_title">About the authors</h4>		
<div class="author">
<h5 class="author_bio" id="author1_bio">Helen Oyeyemi is a British writer currently based in Prague. Her first novel, Boy Snow Bird, became an instant success in her home<span class="dots">...</span></h5>
<div class="author_page_button">go to author's page</div>	
</div>

<div class="author">	
<h5 class="author_bio" id="author2_bio">Helen Oyeyemi is a British writer currently based in Prague. Her first novel, Boy Snow Bird, became an instant success in her home<span class="dots">...</span></h5>
<div class="author_page_button">go to author's page</div>	
</div>

<div class="author">		
<h5 class="author_bio" id="author3_bio">Helen Oyeyemi is a British writer currently based in Prague. Her first novel, Boy Snow Bird, became an instant success in her home<span class="dots">...</span></h5>
<div class="author_page_button">go to author's page</div>	
</div>	
	
<div class="author">			
<h5 class="author_bio" id="author4_bio">Helen Oyeyemi is a British writer currently based in Prague. Her first novel, Boy Snow Bird, became an instant success in her home<span class="dots">...</span></h5>
<div class="author_page_button">go to author's page</div>	
	</div>
	</div>	
	
</section>		
	
<section id="related_books">	

	
	<h3 class="section_title" id="related_books_title_mobile">
Related books
		</h3>	
	
<div class="scrolling-wrapper">

	
  <div class="card">
 	       <img src="/assets/img/chronicles_of_a_radical_hag.jpg" class="book_cover">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_author" id="book1_author_1">Book_author_1</h6>
		   <h6 class="book_author" id="book1_author_2">Book_author_2</h6>	
		   <h6 class="book_author" id="book1_author_3">Book_author_3</h6>
		   <h6 class="book_author" id="book1_author_4"><br></h6>
		   </div>
		   </div>
 
	
  <div class="card">
 	       <img src="/assets/img/dear_client.jpg" class="book_cover">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_author" id="book2_author_1">Book_author_1</h6>
		   <h6 class="book_author" id="book2_author_2">Book_author_2</h6>	
		   <h6 class="book_author" id="book2_author_3">Book_author_3</h6>
		   <h6 class="book_author" id="book2_author_4">Book_author_4</h6>
		   </div>
  </div>	
	
  <div class="card">
 	       <img src="/assets/img/east_of_eden.jpg" class="book_cover">
		   <div class="caption_container">
			   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_author" id="book3_author_1">Book_author_1</h6>
		   <h6 class="book_author" id="book3_author_2">Book_author_2</h6>	
		   <h6 class="book_author" id="book3_author_3">Book_author_3</h6>
		   <h6 class="book_author" id="book3_author_4"><br></h6>
		   </div>
  </div>	
	
  <div class="card">
 	       <img src="/assets/img/what_if_it's_us.jpg" class="book_cover">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_author" id="book4_author_1">Book_author_1</h6>
		   <h6 class="book_author" id="book4_author_2">Book_author_2</h6>	
		   <h6 class="book_author" id="book4_author_3">Book_author_3</h6>
		   <h6 class="book_author" id="book4_author_4"><br></h6>
		   </div>
  </div>	

  <div class="card">
 	       <img src="/assets/img/elsey_come_home.jpg" class="book_cover">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_author" id="book5_author_1">Book_author_1</h6>
		   <h6 class="book_author" id="book5_author_2">Book_author_2</h6>	
		   <h6 class="book_author" id="book5_author_3"><br></h6>
		   <h6 class="book_author" id="book5_author_4"><br></h6>
		   </div>
  </div>	
	
  <div class="card">
 	       <img src="/assets/img/the_bell_jar.jpg" class="book_cover">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_author" id="book6_author_1">Book_author_1</h6>
		   <h6 class="book_author" id="book6_author_2"><br></h6>	
		   <h6 class="book_author" id="book6_author_3"><br></h6>
		   <h6 class="book_author" id="book6_author_4"><br></h6>
		   </div>
  </div>
	
</div>
	

<div class="carousel">		
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
			
    <li class="slide-container">
		
        <div class="slide-image">
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/chronicles_of_a_radical_hag.jpg" id="slide1_img1">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>		    
   		   <h6 class="book_author" id="book1_author1">Book_author</h6>
   		   <h6 class="book_author" id="book1_author2"><br></h6>
   		   <h6 class="book_author" id="book1_author3"><br></h6>
   		   <h6 class="book_author" id="book1_author4"><br></h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/what_if_it's_us.jpg" id="slide1_img2">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>		    
   		   <h6 class="book_author" id="book2_author1">Book_author 1</h6>
   		   <h6 class="book_author" id="book2_author2">Book author 2</h6>
   		   <h6 class="book_author" id="book2_author3"><br></h6>
   		   <h6 class="book_author" id="book2_author4"><br></h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/elsey_come_home.jpg" id="slide1_img3">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>		    
   		   <h6 class="book_author" id="book3_author1">Book_author 1</h6>
   		   <h6 class="book_author" id="book3_author2">Book author 2</h6>
   		   <h6 class="book_author" id="book3_author3">Book author 3</h6>
   		   <h6 class="book_author" id="book3_author4">Book author 4</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/east_of_eden.jpg" id="slide1_img4">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>		    
   		   <h6 class="book_author" id="book4_author1">Book_author 1</h6>
   		   <h6 class="book_author" id="book4_author2">Book author 2</h6>
   		   <h6 class="book_author" id="book4_author3">Book author 3</h6>
   		   <h6 class="book_author" id="book4_author4">Book author 4</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="/assets/img/ready_player_one.jpg" id="slide1_img5">
		   <div class="caption_container">
		   <h6 class="book_title">Book_title</h6>		    
   		   <h6 class="book_author" id="book5_author1">Book_author 1</h6>
   		   <h6 class="book_author" id="book5_author2">Book author 2</h6>
   		   <h6 class="book_author" id="book5_author3">Book author 3</h6>
   		   <h6 class="book_author" id="book5_author4">Book author 4</h6>
			</div>
			</div>			
		
</div>


<!--- Second slide --->	

	
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                      <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
			
<input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="/assets/img/hell_or_high_water.jpg" id="slide2_img1">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide2_img2">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide2_img3">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide2_img4">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide2_img5">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>							
			
                </div>
				
				
<!--- Third slide --->		
	
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
	
            <li class="slide-container">
                <div class="slide-image">
				<div class="image_and_caption">	
 	       <img src="/assets/img/joyful.jpg" id="slide3_img1">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide3_img2">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide3_img3">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide3_img4">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="/assets/img/kobane.jpg" id="slide3_img5">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>	
					
                </div>
				
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
 
        </ul>
    </div>

	</section>


	
<!-- Reviews section --->		
	
<section id="reviews">
<h4 class="section_title" id="reviews_title">Reviews</h4>
<div id="reviews_container">
	
<div class="single_review" id="review_1">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_1">Reviewer_name</h5>
<img class="stars" id="stars_1" src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_1">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_2">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_2">Reviewer_name</h5>
<img class="stars" id="stars_2" src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_2">Review text review text</h5>	
</div>

<div class="single_review" id="review_3">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_3">Reviewer_name</h5>
<img class="stars" id="stars_3"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_3">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_4">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_4">Reviewer_name</h5>
<img class="stars" id="stars_4" src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_4">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_5">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_5">Reviewer_name</h5>
<img class="stars" id="stars_5"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_5">Review text review text</h5>	
</div>

<div class="single_review" id="review_6">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_6">Reviewer_name</h5>
<img class="stars"  id="stars_6"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_6">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_7">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_7">Reviewer_name</h5>
<img class="stars"  id="stars_7"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_7">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_8">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_8">Reviewer_name</h5>
<img class="stars"  id="stars_8"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_8">Review text review text</h5>	
</div>

<div class="single_review" id="review_9">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_9">Reviewer_name</h5>
<img class="stars" id="stars_9"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_9">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_10">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_10">Reviewer_name</h5>
<img class="stars" id="stars_10"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_10">Review text review text</h5>	
</div>
	
<div class="single_review" id="review_11">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_11">Reviewer_name</h5>
<img class="stars" id="stars_11"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_11">Review text review text</h5>	
</div>

<div class="single_review" id="review_12">
<img class="review_image" src="/assets/img/user.png">	
<h5 class="reviewer" id="reviewer_12">Reviewer_name</h5>
<img class="stars" id="stars_12"  src="/assets/img/5 stelle.png">
<h5 class="review" id="review_text_12">Review text review text</h5>	
</div>
	
</div>
	
</section>
	
<section id="related_events">
<h3 class="section_title">Related events</h3>	
<img src="/assets/img/giorgia_lupi.jpg" id="event_photo">
<h4 id="event_date">15th May 2019, 5 pm<br><span id="event_place">Bookaholic Greenwich</span></h4>
<h2 class="title" id="event_title">The new mystery literature</h2>
<h2 class="author" id="event_author">with Gillian Flynn</h2>
<div id="learn_more">Learn more</div>

</section>
	
</body>
</html>
