<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Cart page</title>
<link href="/assets/css/cart_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/cart_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/cart_400px.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="Navbar 3 CSS.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" id="bookaholic_logo" href="#"><img src="img/bookaholic logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
  <div class="adjust-height">		
      <ul class="nav navbar-nav">
        <li><a href="#" class="menu_item" id="active">Home</a></li>
        <li><a href="#" class="menu_item">Authors</a></li>		  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Art and design</a></li>
            <li><a href="#">Fiction</a></li>
            <li><a href="#">Mystery</a></li>
            <li><a href="#">Non fiction</a></li>
            <li><a href="#">Science fiction</a></li>
          </ul>
        </li>
		  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Family</a></li>
            <li><a href="#">Fear</a></li>
            <li><a href="#">Friendship</a></li>
            <li><a href="#">Justice</a></li>
            <li><a href="#">Love</a></li>
            <li><a href="#">Philosophy</a></li>
            <li><a href="#">War</a></li>
			  
          </ul>
        </li>		  
		  
        <li><a href="#" class="menu_item">Events</a></li>
        <li><a href="#" class="menu_item">About us</a></li>
      </ul>
		<form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="#"><span class="icon_name"><img src="img/logo profile.png" class="icon"> Profile</span></a></li>
        <li><a href="#"><span class="icon_name"><img src="img/logo cart.png" class="icon"> Cart</span></a></li>
      </ul>
    </div>
  </div>
	</div>
</nav>	
	
<ul id="cart_items">
	
<li class="cart_item" id="cart_item_1">
	
<div class="outer">
  <div class="inner">
  </div>
</div>
	
<img class="book_cover" src="/assets/img/east_of_eden.jpg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book1_title">East of Eden</h3>
<h4 class="book_author_1" id="book1_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book1_author2"></h4>
<h4 class="book_author_3" id="book1_author3"></h4>
<h4 class="book_author_4" id="book1_author4"></h4>
<h4 class="book_price" id="book1_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_1" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>		
	
</li>
	
	
<li class="cart_item" id="cart_item_2">

<div class="outer">
  <div class="inner">
  </div>
</div>	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book2_title">East of Eden</h3>
<h4 class="book_author_1" id="book2_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book2_author2"></h4>
<h4 class="book_author_3" id="book2_author3"></h4>
<h4 class="book_author_4" id="book2_author4"></h4>
<h4 class="book_price" id="book2_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_2" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div class="colmn">
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
	
</li>

	
<li class="cart_item" id="cart_item_3">

<div class="outer">
  <div class="inner">
  </div>
</div>	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book3_title">East of Eden</h3>
<h4 class="book_author_1" id="book3_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book3_author2"></h4>
<h4 class="book_author_3" id="book3_author3"></h4>
<h4 class="book_author_4" id="book3_author4"></h4>
<h4 class="book_price" id="book3_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_3" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
	
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
	
</li>	
	
<li class="cart_item" id="cart_item_4">

<div class="outer">
  <div class="inner">
  </div>
</div>
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book4_title">East of Eden</h3>
<h4 class="book_author_1" id="book4_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book4_author2"></h4>
<h4 class="book_author_3" id="book4_author3"></h4>
<h4 class="book_author_4" id="book4_author4"></h4>
<h4 class="book_price" id="book4_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_4" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
</li>
	
<li class="cart_item" id="cart_item_5">

<div class="outer">
  <div class="inner">
  </div>
</div>
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book5_title">East of Eden</h3>
<h4 class="book_author_1" id="book5_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book5_author2"></h4>
<h4 class="book_author_3" id="book5_author3"></h4>
<h4 class="book_author_4" id="book5_author4"></h4>
<h4 class="book_price" id="book5_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_5" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div class="colmn">
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
	
</li>	
	
<li class="cart_item" id="cart_item_6">

<div class="outer">
  <div class="inner">
  </div>
</div>
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book6_title">East of Eden</h3>
<h4 class="book_author_1" id="book6_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book6_author2"></h4>
<h4 class="book_author_3" id="book6_author3"></h4>
<h4 class="book_author_4" id="book6_author4"></h4>
<h4 class="book_price" id="book6_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_6" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
	
</li>	
	
	
<li class="cart_item" id="cart_item_7">

<div class="outer">
  <div class="inner">
  </div>
</div>
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book7_title">East of Eden</h3>
<h4 class="book_author_1" id="book7_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book7_author2"></h4>
<h4 class="book_author_3" id="book7_author3"></h4>
<h4 class="book_author_4" id="book7_author4"></h4>
<h4 class="book_price" id="book7_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_7" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
	
</li>	
	
<li class="cart_item" id="cart_item_8">

<div class="outer">
  <div class="inner">
  </div>
</div>
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book8_title">East of Eden</h3>
<h4 class="book_author_1" id="book8_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book8_author2"></h4>
<h4 class="book_author_3" id="book8_author3"></h4>
<h4 class="book_author_4" id="book8_author4"></h4>
<h4 class="book_price" id="book8_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_8" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
	
</li>	
	
<li class="cart_item" id="cart_item_9">

<div class="outer">
  <div class="inner">
  </div>
</div>	
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h3 class="book_title" id="book9_title">East of Eden</h3>
<h4 class="book_author_1" id="book9_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book9_author2"></h4>
<h4 class="book_author_3" id="book9_author3"></h4>
<h4 class="book_author_4" id="book9_author4"></h4>
<h4 class="book_price" id="book9_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_9" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
	
</li>
	
	
<li class="cart_item" id="cart_item_10">

<div class="outer">
  <div class="inner">
  </div>
</div>	
	
<img class="book_cover" src="/assets/img/east_of_eden.jpeg">	
	
<div class="book_info">
	
<div class="column">
<h2 class="book_title" id="book10_title">East of Eden</h2>
<h4 class="book_author_1" id="book10_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book10_author2"></h4>
<h4 class="book_author_3" id="book10_author3"></h4>
<h4 class="book_author_4" id="book10_author4"></h4>
<h4 class="book_price" id="book10_price">23.79 eur</h4>
</div>

<div class="column">	
<div class="quantity_menu">
<h4 class="quantity">Quantity</h4>
<form>
 <select id="quantity_10" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>	
</form>
</div>
</div>
	
<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>	
</li>	
	
	</ul>
	
<div id="subtotal">
<h4>Your order</h4>
<img src="img/logo cart.png" id="cart" width="70px">
<h4 id="subtotal_title">Subtotal</h4>
<h4 id="subtotal_number">23.79 eur</h4>
<div id="checkout_button">checkout</div>	
</div>
		
	
</body>
</html>
