<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Cart page</title>
<link href="/assets/css/cart.css" rel="stylesheet">
</head>

<body>

<div class="cart_item" id="cart_item_1">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book1_title">East of Eden</h2>
<h4 class="book_author_1" id="book1_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book1_author2"></h4>
<h4 class="book_author_3" id="book1_author3"></h4>
<h4 class="book_author_4" id="book1_author4"></h4>
<h4 class="book_price" id="book1_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_1" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_2">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book2_title">East of Eden</h2>
<h4 class="book_author_1" id="book2_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book2_author2"></h4>
<h4 class="book_author_3" id="book2_author3"></h4>
<h4 class="book_author_4" id="book2_author4"></h4>
<h4 class="book_price" id="book2_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_2" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>


<div class="cart_item" id="cart_item_3">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book3_title">East of Eden</h2>
<h4 class="book_author_1" id="book3_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book3_author2"></h4>
<h4 class="book_author_3" id="book3_author3"></h4>
<h4 class="book_author_4" id="book3_author4"></h4>
<h4 class="book_price" id="book3_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_3" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_4">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book4_title">East of Eden</h2>
<h4 class="book_author_1" id="book4_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book4_author2"></h4>
<h4 class="book_author_3" id="book4_author3"></h4>
<h4 class="book_author_4" id="book4_author4"></h4>
<h4 class="book_price" id="book4_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_4" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_5">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book5_title">East of Eden</h2>
<h4 class="book_author_1" id="book5_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book5_author2"></h4>
<h4 class="book_author_3" id="book5_author3"></h4>
<h4 class="book_author_4" id="book5_author4"></h4>
<h4 class="book_price" id="book5_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_5" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_6">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book6_title">East of Eden</h2>
<h4 class="book_author_1" id="book6_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book6_author2"></h4>
<h4 class="book_author_3" id="book6_author3"></h4>
<h4 class="book_author_4" id="book6_author4"></h4>
<h4 class="book_price" id="book6_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_6" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_7">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book7_title">East of Eden</h2>
<h4 class="book_author_1" id="book7_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book7_author2"></h4>
<h4 class="book_author_3" id="book7_author3"></h4>
<h4 class="book_author_4" id="book7_author4"></h4>
<h4 class="book_price" id="book7_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_7" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_8">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book8_title">East of Eden</h2>
<h4 class="book_author_1" id="book8_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book8_author2"></h4>
<h4 class="book_author_3" id="book8_author3"></h4>
<h4 class="book_author_4" id="book8_author4"></h4>
<h4 class="book_price" id="book8_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_8" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_9">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book9_title">East of Eden</h2>
<h4 class="book_author_1" id="book9_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book9_author2"></h4>
<h4 class="book_author_3" id="book9_author3"></h4>
<h4 class="book_author_4" id="book9_author4"></h4>
<h4 class="book_price" id="book9_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_9" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div class="cart_item" id="cart_item_10">

<a href="#" class="close"></a>

<img class="book_cover" src="/assets/img/east_of_eden.jpeg">

<div class="book_info">

<div class="column">
<h2 class="book_title" id="book10_title">East of Eden</h2>
<h4 class="book_author_1" id="book10_author1">John Steinbeck</h4>
<h4 class="book_author_2" id="book10_author2"></h4>
<h4 class="book_author_3" id="book10_author3"></h4>
<h4 class="book_author_4" id="book10_author4"></h4>
<h4 class="book_price" id="book10_price">23.79 eur</h4>
</div>

<div class="column">
<div class="quantity_menu">
<h4>Quantity</h4>
<form>
 <select id="quantity_10" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</form>
</div>
</div>

<div>
<h4 class="book_subtotal_title">Subtotal</h4>
<h4 class="book_subtotal">23.99 eur</h4>
</div>
</div>
</div>

<div id="subtotal">
<h3>Your order</h3>
<h4 id="subtotal_title">Subtotal</h4>
<h4 id="subtotal_number">23.79 eur</h4>
<div id="checkout_button">checkout</div>
</div>


</body>
</html>
