<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" href="/assets/css/jquery.flipster.css">
  <link href="/assets/css/homepage.css" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="/assets/css/magicscroll.css"/> -->
</head>
<body>
  <div class="my-flipster">
    <ul>
      <!-- Filled using JavaScript -->
    </ul>
  </div>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/flipster_test.js"></script>
</body>
