<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Homepage</title>
<link href="Homepage CSS 2.css" rel="stylesheet">
		
</head>
	
<body> 

<!--- Top navigation bar --->	
	
<div class="content-wrapper">
  	
	<div class="navmenu">
	  
    <span id="menu"><img src="img/hamburger menu.png" alt="hamburger_menu" width="40px" height="30px"></span>
    <nav id="navbar" itemprop="mainEntity" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
		
    <ul class="navbar" id="myNavbar">
		
		<li><a href="/" itemprop="url" title="logo"><span itemprop="name">Home</span></a></li>
		
		<li id="sub-menu-categories">
		<span itemprop="name" class="dropdown_title">Types</span>
        <ul class="sub-menu">
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Family</span></a></li>
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Friendship</span></a></li>	
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Horror</span></a></li>				
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Justice</span></a></li>	
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Love</span></a></li>				
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Philisophical</span></a></li>	
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">War</span></a></li>	
		</ul>
		</li>
        
		<li id="sub-menu-genres">
		<span itemprop="name" class="dropdown_title">Genres</span>
        <ul class="sub-menu">
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Art &amp; design</span></a></li>
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Fiction</span></a></li>		   
		<li><a href="/" itemprop="url" title="Home"><span itemprop="name">Mystery</span></a></li>	
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Non fiction</span></a></li>
        <li><a href="/" itemprop="url" title="Home"><span itemprop="name">Science fiction</span></a></li>	
		</ul>
		</li>
		<li><a href="/" itemprop="url" title="Events"><span itemprop="name">Events</span></a></li>
		<li><a href="/" itemprop="url" title="Contact us"><span itemprop="name">Who we are</span></a></li>


<li>

		<form action="/search" autocomplete="on" id="search-form" method="get">
		<input type="text" placeholder="Search here" size="15"/>
		<div id="search_button"><img src="img/search icon.png" id="search_icon" alt="search icon" width="25px" height="25px"></div>
    	</form>   	

		</li>			
				
        </ul>

</nav>
	
	
		<div class="menu_icons_container">
		<span class="menu_icons"><img src="img/logo profile.png" alt="logo_profile" width="35px" height="35px" /></span>
		<span class="menu_icons"><img src="img/logo cart.png" alt="logo_cart" width="35px" height="35px"/></span>	
		</div>	

</div>
</div>
	
<div style="clear: both;"/>
	
<!--- End of Top navigation bar --->	
	
	
	
	
	
<!--- Landing page with title --->		
	
<section id="landing_page">
	<span id="landing_page_bg">
	</span>
	<div id="landing_title_container">
	<h3 id="landing_title_small">Welcome to</h3>
	<h1 id="landing_title_big">Bookaholic</h1>
	<span id="landing_title_box"></span>
	</div>
	<h4 id="landing_subtitle">All the books you want <br> are just one click away! </h4>
	
	</section>	

<!--- End of Landing page with title --->	
	
	
	
	
<!--- Latest products section --->	
	
<!--- First slide --->	
	
	
<section id="latest_products">
	<h3 class="section_title">
	Latest products
		</h3>

    <div class="carousel">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
    <li class="slide-container">
        <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane_calling.jpg" id="slide1_img1">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/american_gods.jpg" id="slide1_img2">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/what_if_it's_us.jpg" id="slide1_img3">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/the_old_drift.jpg" id="slide1_img4">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="views/assets/img/the_bell_jar.jpg" id="slide1_img5">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			

		<div class="image_and_caption">	
 	       <img src="views/assets/img/the" id="slide1_img6">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
</div>


<!--- Second slide --->	

	
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                      <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
			
<input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img1">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img2">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img3">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img4">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img5">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			

		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img6">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>					
			
                </div>
				
				
<!--- Third slide --->		
	
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
	
            <li class="slide-container">
                <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img1">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img2">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img3">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img4">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img5">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			

		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img6">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>					
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
 
        </ul>
    </div>


</section>	
	
<!--- End of latest products section --->	
	
	
	
	
<!--- Our suggestions section --->			
	
<div id="our_suggestions">
	<h3 class="section_title">
Our suggestions
	</h3>
	
 <div class="carousel_sugg">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1-sugg" checked />
    <li class="slide-container">
        <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="views/assets/img/DearData_US_jacket.jpeg" id="slide1_img1_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/DearData_US_jacket.jpeg" id="slide1_img2_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/DearData_US_jacket.jpeg" id="slide1_img3_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/DearData_US_jacket.jpeg" id="slide1_img4_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="views/assets/img/DearData_US_jacket.jpeg" id="slide1_img5_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			

		<div class="image_and_caption">	
 	       <img src="views/assets/img/DearData_US_jacket.jpeg" id="slide1_img6_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
</div>


<!--- Second slide --->	

	
                <div class="carousel-controls">
                    <label for="img-3-sugg" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2-sugg" class="next-slide">
                      <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
			
<input type="radio" name="radio-buttons" id="img-2-sugg" />
            <li class="slide-container">
                <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img1_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img2_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img3_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img4_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img5_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			

		<div class="image_and_caption">	
 	       <img src="views/assets/img/kobane.jpg" id="slide2_img6_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>					
			
                </div>
				
				
<!--- Third slide --->		
	
                <div class="carousel-controls">
                    <label for="img-1-sugg" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3-sugg" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3-sugg" />
	
            <li class="slide-container">
                <div class="slide-image">
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img1_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img2_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img3_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>
			
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img4_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			
					
		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img5_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>			

		<div class="image_and_caption">	
 	       <img src="views/assets/img/le ragazze.jpg" id="slide3_img6_sugg">
		   <div class="caption_container">
		   <h6 class="book_author">Book_author</h6>
		   <h6 class="book_title">Book_title</h6>
		   <h6 class="book_price">Book_price</h6>
			</div>
			</div>					
                </div>
                <div class="carousel-controls">
                    <label for="img-2-sugg" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1-sugg" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
	
	</div>
	
<!--- End of Our suggestions section --->			

	
	
	
<!--- Gift cards section --->				
	
<section id="gift_cards_section">
	<h3 class="section_title">
Gift cards and vouchers	</h3>
<div class="gift_cards">
<img src="view/assets/img/GiftCard 1.png" alt="gift card 1">
<div class="text_container">
<p>Are you a student and you just love Bookaholic? Get fantastic discounts, get the chance to win prizes with our student card!</p>
</div>	
</div>

<div class="gift_cards">	
<img src="view/assets/img/GiftCard 2.png" alt="gift card 2">
<div class="text_container">
<p>Get our special gift card. We have just the amount you're looking for, to give it to that special "bookaholic" in your life</p>
</div>
</div>	
	
<div class="gift_cards">
<img src="view/assets/img/GiftCard 3.png" alt="gift card 3">	
<div class="text_container">
<p>We know you've been coming here quite often lately... And we want to thank you! Keep track of your purchases, to get a free book after 10 purchases!</p>
</div>
</div>
	</section>	
<!--- End of Gift cards section --->				
	
	
	

<!--- Footer --->	
	
<footer>
	<h6>Bookaholic<br>
	info@bookaholic.co.uk<br>
	+44 20 7269 9030
	</h6>
	
	</footer>
	
<!--- End of Footer --->	
	
	
	
	
</body>
</html>
