<!doctype html>
<html>
<head lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Documento senza titolo</title>
<link href="/assets/css/single_genre_1440px.css" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/single_genre_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/single_genre_400px.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/navbar.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
	
	
<!--- START navigation bar section --->
	
<nav class="navbar navbar-inverse navbar-fixed-top" role="menubar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button title="menu_icon" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" role="button" id="menu_icon">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
		
      <a class="navbar-brand" id="bookaholic_logo" href="#"><img src="img/bookaholic logo.png" alt="bookaholic logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
  <div class="adjust-height">	
	  
      <ul class="nav navbar-nav">
        <li><a href="#" class="menu_item" role="menuitem" id="active">Home</a></li>
		  
        <li><a href="#" class="menu_item" role="menuitem">Authors</a></li>		  
        
		<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="menuitem">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu" 
			  id="genre_list" 
			  tabindex="-1"
			  role="listbox"
			  aria-labelledby="genre">
            <li id="genre_art_and_design"  role="option">
			<a href="#">Art and design</a></li>
            <li id="genre_fiction" role="option">
			<a href="#">Fiction</a></li>
            <li id="genre_mystery" role="option"><a href="#">Mystery</a></li>
            <li id="genre_non_fiction" role="option"><a href="#">Non fiction</a></li>
            <li id="genre_science_fiction" role="option"><a href="#">Science fiction</a></li>
          </ul>
        </li>
		  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="menuitem">Themes<span class="caret"></span></a>
          <ul class="dropdown-menu"
			  id="themes_list" 
			  tabindex="-1"
			  role="listbox"
			  aria-labelledby="theme">
            <li id="theme_family" role="option"><a href="#">Family</a></li>
            <li id="theme_fear" role="option"><a href="#">Fear</a></li>
            <li id="theme_friendship" role="option"><a href="#">Friendship</a></li>
            <li id="theme_justice" role="option"><a href="#">Justice</a></li>
            <li id="theme_love" role="option"><a href="#">Love</a></li>
            <li id="theme_philosophy" role="option"><a href="#">Philosophy</a></li>
            <li id="theme_war" role="option"><a href="#">War</a></li>
			  
          </ul>
        </li>		  
		  
        <li><a href="#" class="menu_item" role="menuitem">Events</a></li>
        <li><a href="#" class="menu_item" role="menuitem">About us</a></li>
      </ul>
	  
	  
		<form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group" id="searchbar">
        <input title="searchbar" type="text" class="form-control" placeholder="Search" name="search" value="Search here">
        <div class="input-group-btn">
          <button title="search button" class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
	</div>
    </form>
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="#"><span class="icon_name">
		  <img src="img/logo profile.png" 
			   alt="profile link"
			   class="icon"
			   tabindex="0"
     		   onclick="goToLink(profile, 'http://www.w3.org/')"
    		   onkeydown="goToLink(profile, 'http://www.w3.org/')"
     		   role="link">
			   Profile</span>
			  </a>
		  </li>
		  
          <li><a href="#"><span class="icon_name">
		  <img src="img/logo cart.png" 
			   alt="cart link"
			   class="icon"
			   tabindex="0"
     		   onclick="goToLink(cart, 'http://www.w3.org/')"
    		   onkeydown="goToLink(cart, 'http://www.w3.org/')"
     		   role="link">
			   Cart</span>
			  </a>
		  </li>
      </ul>
    </div>
  </div>
	</div>
</nav>	
		
<!--- END navigation bar section --->	
	
	
	
<!--- START Title section --->	

<section id="header_section">
<div class="header_container">	
<h1 class="header_text">Single genre</h1>	
</div>
</section>	
	
<!--- END Title section --->	

	
	
	
	
<!--- START Filters section --->	
	
	
<div id="filters_container">
<div class="filter">
	
<div class="dropdown_menu">	
<h4 class="filter_title">Published in</h4>
	
<div class="dropdown-menu" 
			  id="first_year_list" 
			  tabindex="-1"
			  role="listbox"
			  aria-labelledby="year">
<label for="year">
 <select id="year" name="year">
<optgroup>
  <option value="1960" class="dropdown_first">1960</option>
  <option value="1970">1970</option>
  <option value="1980">1980</option>
  <option value="1990">1990</option>
  <option value="2000">2000</option>
  <option value="2010">2010</option>
	</optgroup>
</select>	
</label>
</div>
	
</div>					  
</div>
	
<div class="filter">
	
<div class="dropdown_menu">	
<h4 class="filter_title">Theme</h4>	
	
<div class="dropdown-menu" 
			  id="second_year_list" 
			  tabindex="-1"
			  role="listbox"
			  aria-labelledby="theme">
<label for="theme">
 <select id="theme" name="theme">
<optgroup>
  <option value="family" class="dropdown_first">Family</option>
  <option value="friendship">Friendship</option>
  <option value="horror">Horror</option>
  <option value="justice">Justice</option>
  <option value="love">Love</option>
  <option value="philosophical">Philosophical</option>
</optgroup>	
</select>	
</label>
</div>	
	</div>	
	</div>	

<div class="filter">
<h4 class="checkbox_container">suggested by us
  <input type="checkbox" title="suggested by us checkbox">
  <span class="checkmark"></span>
</h4>
</div>	

<div class="filter">	
<h4 class="checkbox_container">available
  <input type="checkbox" title="available checkbox">
  <span class="checkmark"></span>
</h4>
</div>	
</div>	

	
<!--- END Filters section --->	

	

	
	
<div class="books_containers">
		
<div class="book">	
<img src="/assets/img/good_omens.jpg" class="book_cover" id="book1_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 
	 >	
<h2 class="book_title" id="book1_title">Good Omens</h2>
	
<div class="authors_container">
	
<h3 class="book_author" id="book1_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book1_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book1_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book1_author4">Neil Gaiman</h3>
	
</div>	

</div>
	
<div class="book">	
<img src="/assets/img/chronicles_of_a_radical_hag.jpg" class="book_cover" id="book2_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book2_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book2_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book2_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book2_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book2_author4">Neil Gaiman</h3>
</div>
</div>
		
<div class="book">	
<img src="/assets/img/joyful.jpg" class="book_cover" id="book3_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 
	 >	
<h2 class="book_title" id="book3_title">Good Omens</h4>
<div class="authors_container">	
<h3 class="book_author" id="book3_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book3_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book3_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book3_author4">Neil Gaiman</h3>
</div>	
</div>
		
<div class="book">	
<img src="/assets/img/good_omens.jpg" class="book_cover" id="book4_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book4_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book4_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book4_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book4_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book4_author4">Neil Gaiman</h3>
</div>
</div>
	
<div class="book">	
<img src="/assets/img/da_cosa_nasce_cosa.jpg" class="book_cover" id="book5_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book5_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book5_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book5_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book5_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book5_author4">Neil Gaiman</h3>
</div>
</div>
		
<div class="book">	
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book6_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book6_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book6_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book6_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book6_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book6_author4">Neil Gaiman</h3>
</div>	
</div>
		
<div class="book">	
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book7_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book7_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book7_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book7_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book7_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book7_author4">Neil Gaiman</h3>
</div>
</div>
		
<div class="book">	
<img src="/assets/img/da_cosa_nasce_cosa.jpg" class="book_cover" id="book8_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book8_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book8_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book8_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book8_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book8_author4">Neil Gaiman</h3>
</div>
</div>
		
<div class="book">	
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book9_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book9_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book9_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book9_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book9_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book9_author4">Neil Gaiman</h3>
</div>	
</div>
		
<div class="book">	
<img src="/assets/img/dear_data.jpg" class="book_cover" id="book10_cover" alt="book cover"
	 role="link"
	 onclick="goToLink(book page, 'book page')"
     onkeydown="goToLink(book page, 'book page')"	 	 
	 >	
<h2 class="book_title" id="book10_title">Good Omens</h2>
<div class="authors_container">	
<h3 class="book_author" id="book10_author1">Neil Gaiman</h3>
<h3 class="book_author" id="book10_author2">Neil Gaiman</h3>
<h3 class="book_author" id="book10_author3">Neil Gaiman</h3>
<h3 class="book_author" id="book10_author4">Neil Gaiman</h3>
</div>
</div>
	
	</div>

	
</body>
</html>
