<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Single event</title>
<link rel="stylesheet" href="/assets/css/single_event_1440px.css" />
<link rel="stylesheet" media="screen and (max-width: 768px)" href="/assets/css/single_event_768px.css" />
<link rel="stylesheet" media="screen and (max-width: 400px)" href="/assets/css/single_event_400px.css" />	
</head>

<body>
	
<section id="header_section">
<div class="header_container">	
<h1 class="header_text">The new mistery literature</h1>
<h2 class="author" id="event1_author">with Gillian Flynn</h2>	
<div class="header_box"></div>
</div>
			
</section>	
	
<section id="events">

<div class="event">	
<img src="/assets/img/gillian_flynn.jpeg" class="event_photo" id="event1_photo">	
<h4 class="date" id="event1_date">15th May 2019, 5 pm<br><span id="event1_place">Bookaholic Greenwich</span></h4>
<h6 class="description" id="event1_description">You know her stories, either from her books or from the beautiful movies and series that were inspired by them. Gillian Flynn made her stories instant classics, focused on women taking hard decisions, twisted plots and unexpected ending... but what's her secret? How can she make you hold your breath until the last page? Come to this event for the answer.</h6>
</div>
	
<div id="book_details">See book details</div>
	
	
<h6 id="condition">Free entry subject to availability at the meeting room.</h6>	
	
</section>	

	
</body>
</html>
