<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
	<link href="/assets/css/homepage_laura_1440px.css" rel="stylesheet">
	<link rel="stylesheet" media="screen and (max-width: 768px)" href="homepage_768px.css" />
	<link rel="stylesheet" media="screen and (max-width: 400px)" href="homepage_400px.css" />
	<link type="text/css" rel="stylesheet" href="/assets/css/magicscroll.css"/>
</head>

<body>

<!--- Top navigation bar --->

<span id="landing_page">
	<span id="landing_page_bg">
	</span>
	<div id="landing_title_container">
	<h3 id="landing_title_small">Welcome to</h3>
	<h1 id="landing_title_big">Bookaholic</h1>
	<span id="landing_title_box"></span>
	</div>
	<h4 id="landing_subtitle">All the books you want <br> are just one click away! </h4>
	</span>

<!--- End of Landing page with title --->

<!--- Latest products section --->

<section id="freshly_released">
	<div class="section_title">
		<h3>
			Latest Products
		</h3>
	</div>
	<!-- How it works: settings of magicscroll elements are defined in the magicscroll.css file; height defines the container's height -->
	<div class="MagicScroll msc-rounded" data-options="step: 1; mode: carousel; draggable: true; keyboard: true; height: 70%;">
    <!-- Content provided by homepage.js -->
 	</div>
</section>

<!--- End of latest products section --->

<!--- Our suggestions section --->

<section id="our_suggestions">
	<div class="section_title">
		<h3>
			Our suggestions
		</h3>
	</div>
	<div class="MagicScroll msc-rounded" data-options="step: 1; mode: carousel; draggable: true; keyboard: true; height: 85%;">
    <!-- Content provided by homepage.js -->
 	</div>
</section>

<!--- End of Our suggestions section --->

<!--- Gift cards section --->

<section id="gift_cards_section">
	<h3 class="section_title">
		Gift cards and vouchers
	</h3>
	<div class="gift_cards">
		<img src="/assets/img/GiftCard 1.png" alt="gift card 1">
		<div class="text_container">
			<p>Are you a student and you just love Bookaholic? Get fantastic discounts, get the chance to win prizes with our student card!</p>
		</div>
	</div>

	<div class="gift_cards">
		<img src="/assets/img/GiftCard 2.png" alt="gift card 2">
		<div class="text_container">
			<p>Get our special gift card. We have just the amount you're looking for, to give it to that special "bookaholic" in your life</p>
		</div>
	</div>

	<div class="gift_cards">
		<img src="/assets/img/GiftCard 3.png" alt="gift card 3">
		<div class="text_container">
			<p>We know you've been coming here quite often lately... And we want to thank you! Keep track of your purchases, to get a free book after 10 purchases!</p>
		</div>
	</div>
</section>
<!--- End of Gift cards section --->

<!--- Footer --->

<footer>
	<h6>Bookaholic<br>
	info@bookaholic.co.uk<br>
	+44 20 7269 9030
	</h6>

	</footer>

<!--- End of Footer --->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/homepage.js"></script>
</body>
</html>
