
html {
    font-size: 55% !important
}

.header_box {
    margin-top: -24.5px;
}

#about_us_photo{}

.column{}

#contacts{}

#contacts_container{
    width: 100%;
    margin: 25px 0 40px;
}

#contacts_greenwich_rows, #contacts_camden_rows{}

.faq{}

.faq_answer{}

#faq_section{
    padding: 23px 7%;
}

#map{
    width: 100%;
}

.shop_name{}

.timetable{
word-spacing: 60px;
margin-top: 20px;
}

#who_we_are_section{}

#who_we_are_text{}
