
#about_us_photo{
    padding: 30px 0%;
    width: 100%;
}

#click_here{color: #EF4444;cursor: pointer;text-underline-position: under;text-decoration: underline;}

.column{float: left;font-size: 16px;padding: 25px 9% 20px;width: 50%;line-height: 0.8;}

#contacts{
    position: relative;
    padding: 40px 3% 0;
}

#contacts_container{background-color: #ef4444;float: right;height: 500px;line-height: 0.9;margin-top: 30px;margin-bottom: 50px;padding: 25px;width: 43%;color: white;position: relative;}

#contacts_greenwich_rows, #contacts_camden_rows{font-size: 1.6rem;padding: 20px 40px;}

.container-fluid {
background-color:#ffffff;
border-color:white!important;
max-height:1200px!important;
position:sticky;
z-index:999;
}

.dropdown-toggle {
color:#555555!important;
}

.dropdown-toggle:hover {
background-color:none!important;
color:#ef4444!important;
}

.dropdown-toggle:focus {
background-color:#f3f3f3!important;
color:#ef4444!important;
}

.dropdown-menu {
border:none!important;
}

.faq{font-size: 1.8rem;font-weight: bold;}

.faq_answer{font-size: 1.8rem;font-weight: lighter;padding-bottom: 15px;}

#faq_section{background-color: #F3F3F3;padding: 23px 3%;}

.header_box {
    background-color:#EF4444;
    margin-top: -27px;
    height: 15px;
    width: 190px;
    z-index: 0;
    place-self: center;
}
 .header_container {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
 .header_text {
    font-size: 4rem;
    font-weight:bolder;
    text-align:center;
    z-index: 5;
}
#map{float: left;width: 57%;position: relative;margin-top: 30px;height: 500px;}

.row:after{
clear: both;
content: "";
display: table;
}

.section_title{font-size: 2.8rem;font-weight: bolder;position: relative;padding-bottom: 16px;}

.shop_name{font-weight: bolder;font-size: 2.0rem;}

#who_we_are_section{background-color: #FFFFFF;padding: 10px 0% 40px;display: flex;justify-content: center;}

#who_we_are_text{font-size: 1.8rem;font-weight: lighter;text-align: justify;width: 60%;line-height: 1.5;}
	
#contacts_greenwich_rows > a {
    color:white;
    text-decoration:underline;
    text-underline-position: under
}