html {
width: 1400px;
}

body{
font-family: "F37 Ginger"!important;
width: 1400px!important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
outline:none!important;
}

#about_us_photo{
width: 1400px;
}

#active {
background-color:#ef4444!important;
color:#ffffff!important;
}

#active:hover {
color:#555555!important;
}

#click_here{
color: #000000;
cursor: pointer;
font-weight: bolder;
text-underline-position: auto;
}

.column{
float: left;
font-size: 16px;
padding: 30px 0px 0px 60px;
width: 50%;
line-height: 0.8;
}

#contacts{
background-color: #FFFFFF;
height: 500px;
}

#contacts_container{
background-color: #ef4444;
float: left;
height: 495px;
line-height: 0.8;
margin-bottom: 50px;
padding: 25px;
width: 620px;
}

#contacts_greenwich_rows, #contacts_camden_rows{
font-size: 16px;
padding: 20px 40px;
}

.container-fluid {
background-color:#ffffff;
border-color:white!important;
max-height:1200px!important;
position:sticky;
z-index:999;
}

.dropdown-toggle {
color:#555555!important;
}

.dropdown-toggle:hover {
background-color:none!important;
color:#ef4444!important;
}

.dropdown-toggle:focus {
background-color:#f3f3f3!important;
color:#ef4444!important;
}

.dropdown-menu {
border:none!important;
}

.faq{
font-size: 18px;
font-weight: normal;
padding-left: 25px;
}
.faq_answer{
font-size: 16px;
font-weight: lighter;
padding-bottom: 15px;
padding-left: 25px;
}

#faq_section{
background-color: #F3F3F3;
height: 450px;
}

.header_box{
background-color: #EF4444;
bottom: 630px;
height: 20px;
left: 670px;
position: absolute;
width: 190px;
z-index: inherit;
}

.header_container{
background-color: white;
height: 150px;
z-index: -100;
}

.header_text{
font-size: 40px;
font-weight: bolder;
left: 680px;
position: absolute;
text-align: center;
top: 60px;
z-index: 100;
}

#map{
float: left;
height: 500px;
padding-left: 25px;
padding-right: 45px;
width: 758px;
}

.row:after{
clear: both;
content: "";
display: table;
}

.section_title{
clear: left;
font: bolder;
font-size: 28px;
font-weight: bolder;
padding-bottom: 30px;
padding-left: 25px;
padding-top: 15px;
}

.shop_name{
font-weight: bolder;
font-size: 20px;
}

#who_we_are_section{
background-color: #FFFFFF;
height: 300px;
padding: 40px;
}

#who_we_are_text{
font-size: 18px;
font-weight: lighter;
left: 31%;
position: absolute;
text-align: justify;
width: 650px;
}
	
