html {
    font-size: 45% !important;
}
#apply_filters {width:140px;}

#apply_filters:active,.learn_more:active {
background-color:#ef4444;
}

.event {
    width: 100%;
    padding: 40px 5%;
}

.learn_more {height: 35px;padding: 10px 7%;}

.section_title {
clear:left;
font:bolder;
font-size:20px;
font-weight:bolder;
padding-bottom:30px;
padding-left:25px;
padding-top:15px;
}

select {width: 137px;}

.event:nth-child(4n+1) {
	  background-color: initial;
}

.event:nth-child(4n+2) {
	background-color: initial;
}

.event:nth-child(odd) {
  background-color: #F3F3F3;
}

option {
    font-size: 1.6rem;
}
