.authors-container {grid-template-columns: repeat(2, 1fr);}

.filter_title {
    width: 38%;
    font-size: 1.8rem;
}

.author:nth-child(10n+1),
.author:nth-child(10n+2),
.author:nth-child(10n+3) ,
.author:nth-child(10n+4) ,
.author:nth-child(10n+5) ,
.author:nth-child(6n+1) ,
.author:nth-child(6n+2) ,
.author:nth-child(6n+3) {
	  background-color: initial;
}

.author:nth-child(4n+1) ,
.author:nth-child(4n+2) {
	  background-color: #F3F3F3;
}
