.authors-container {
    grid-template-columns: repeat(3, 1fr);
}

.filter_title {
    width: 22%;
}

.author:nth-child(10n+1),
.author:nth-child(10n+2),
.author:nth-child(10n+3),
.author:nth-child(10n+4),
.author:nth-child(10n+5) {
    background-color: initial;
}

.author:nth-child(6n+1),
.author:nth-child(6n+2),
.author:nth-child(6n+3) {
    background-color: #F3F3F3;
}
