body {
font-family:'F37 Ginger'!important;
max-width:100%;
overflow-x:hidden;
}


.book {
    width: 33.3%;
    padding: 20px 3%;
}

.book_author {font-size: 16px;font-weight:lighter;}

.book_cover {}

.book_cover:hover {
opacity:0.8;
}

.book_name {font-size:16px;}

.books_container_1, .books_container_2,.books_container_3,.books_container_4, .books_container_5, .books_container_6, .books_container_7 {flex-wrap: wrap;justify-content: center;}

.section_title {text-align:  center;}

.show_more_button {
    border: none;
    min-width: 300px;
}

.show_more_button:hover {
background-color:#ef4444;
}

section:nth-child(odd) {
  background-color: #F3F3F3;
}
