html {
    font-size: 50% !important
}

.book_cover:hover {
opacity:0.8;
}

.book {flex: 0 0 70%;}

.books_container_1, .books_container_2,.books_container_3,.books_container_4, .books_container_5 {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
    margin: 0px -2.5%;
}



.section_title {}

.show_more_button {flex: 0 0 40%;padding: 19px 9%;text-align: center;margin: 0px;max-width: 350px;}

.show_more_button:hover {
background-color:#ef4444;
}

section:nth-child(odd) {
  background-color: #F3F3F3;
}

section:nth-child(n+1) {
  padding: 20px 3%;
}

