@charset "utf-8";
/* CSS Document */

html {
	font-size: 50% !important;
}
#apply_filters {
    border: none;
    width: 18%;
}

.section_title {
	font: bolder;
	font-size: 20px;
	font-weight: bolder;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 30px;
	clear: left;
}

.header_container {
}

.header_text {
}

.header_box {
}

#filters_container {
}

#filters_container:after {
  content: "";
  display: table;
  clear: both;
}

.filter {
}

#events_container {
}

.event {
}

.title {
}

.event_photo {border-width: 0px 6px 6px 1px;}

.author {align-self: center;}

.date, .place {
}

.description {
	font-size: 14px;
	font-weight: lighter;
	padding: 20px;
}

.learn_more {
}

.learn_more:active {
	background-color: #ef4444;
}


.event:nth-child(4n+1) {
	  background-color: #F3F3F3;
}

.event:nth-child(4n+2) {
	background-color: #F3F3F3;
}
