html {
    font-size: 45% !important
}
#author_bio {
font-size:16px;
left:20px;
margin-left:5px;
padding:60px 60px 50px 30px;
position:absolute;
text-align:justify;
top:450px;
width:380px;
}

#author_bio_title {
    padding: 40px 0% 2px;
}

.authored_books_section {}

#author_intro {
    display: flex;
    flex-direction: column;
    padding: 60px 12% 30px;
    height: auto;
}

#author_name {
    padding: 25px 0%;
}

#author_photo {}

.book {
    width: 40%;
}

.book_author {}

.book_cover {}

.book_cover:hover {
opacity:0.8;
}

.book_image_event {}

.book_title {}

.books_containers {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 12px 4.8% 15px;
}

.event {width: 100%;}

.event_author {}

.event_date {}

.event_description {
float:left;
}

.event_title {}

.events_container {}

.learn_more {
    padding: 9px 10%;
}

.learn_more:active {
background-color:#ef4444;
}

#related_events {}

#related_events_title {
margin-left:80px;
width:250px;
}

.section_title {
    text-align: center;
}
