body {
font-family:'F37 Ginger'!important;
overflow-x:hidden;
overflow-y:scroll;
}

#author_bio {
font-size:16px;
font-weight:lighter;
left:40%;
padding:50px;
position:absolute;
width:700px;
}

#author_bio_title {
font-size:18px;
left:595px;
position:absolute;
top:200px;
width: 700px;
}

.authored_books_section {
height:520px;
padding:10px;
}

#author_intro {
background-color:#F3F3F3;
height:600px;
padding-bottom:30px;
padding-top:30px;
}

#author_name {
font-size:36px;
font-weight:bolder;
margin:70px 0;
text-align:center;
}

#author_photo {
border:solid #EF4444;
border-width:1px 10px 10px 1px;
float:left;
height:300px;
left:15%;
position:absolute;
width:300px;
}

.book {
font-size:18px;
margin-left:40px;
padding-bottom:15px;
text-align:center;
}

.book_author {
font-size:12px;
font-weight:lighter;
line-height:1px;
}

.book_cover {
cursor:pointer;
height:270px;
opacity:1;
width:200px;
}

.book_cover:hover {
opacity:0.8;
}

.book_image_event {
float:left;
height:300px;
margin-right:40px;
width:230px;
}

.book_title {
font-size:15px;
font-weight:bold;
}

.books_containers {
display:grid;
grid-template-columns:auto auto auto auto auto;
left:20px;
margin-top:120px;
position:absolute;
top:600px;
}

.event {
margin:50px;
}

#event_author {
font-size:24px;
font-weight:bolder;
}

.event_date,.place {
color:rgba(67,67,67,1.00);
font-size:16px;
font-weight:lighter;
}

#event_photo {
border:solid #EF4444;
border-width:1px 10px 10px 1px;
float:left;
height:300px;
margin:30px;
width:300px;
}

.event_title {
font-size:24px;
}

.events_container {
display:grid;
grid-template-columns:auto auto;
width:1400px;
}

.learn_more {
background-color:#d5d5d5;
border:none;
border-radius:30px;
color:black;
display:inline-block;
font-size:18px;
font-weight:bold;
height:45px;
margin-top:30px;
padding:5px 3px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
vertical-align:middle;
width:160px;
}

.learn_more:hover {
background-color:#ef4444;
}

#related_events {
background-color:#f3f3f3;
width:1400px;
}

.section_title {
font-size:26px;
font-weight:bolder;
padding-left:30px;
padding-top:20px;
width:768px;
}
