html {
    font-size:50% !important
}
.authored_books_section {}

#author_intro {
    grid-template: "author_picture author_name" auto "author_picture author_bio" auto / 2fr 2fr;
    align-items: stretch;
    padding: 92px 12%;
}

#author_name {
    margin: 0;
    text-align: none;
}

#author_photo {}

.book {}

.book_author {}

.books_containers {}

.book_cover {
    width: 100%;
}

.book_cover:hover {
opacity:0.8;
}

.book_title {}

.event {}

.events_container {}

#event_date {
font-size:18px;
}

#event_photo {
border:solid #EF4444;
border-width:1px 10px 10px 1px;
float:left;
height:300px;
margin:30px 30px 160px;
width:300px;
}

.learn_more {}

.learn_more:active {
background-color:#ef4444;
}


#related_events {padding-bottom: 10px;}

.section_title {}
