body {
body:768px;
font-family:'F37 Ginger'!important;
}

#author_bio {
font-size:16px;
left:20px;
margin-left:5px;
padding:60px 60px 50px 30px;
position:absolute;
text-align:justify;
top:450px;
width:380px;
}

#author_bio_title {
font-size: 16px;
font-weight: lighter;
left: 30px;
margin:5px 0 10px 30px;
position:absolute;
top: 480px;
width: 300px;
}

.authored_books_section {
margin-left: 120px;
}

#author_intro {
background-color:#F3F3F3;
padding-bottom:30px;
padding-top:30px;
width:400px;
}

#author_name {
font-size:26px;
font-weight:bolder;
margin:60px 0 0 50px;
text-align:center;
width:300px;
}

#author_photo {
border:solid #EF4444;
border-width:1px 10px 10px 1px;
float:left;
height:300px;
left:55px;
position:absolute;
top:150px;
width:300px;
}

.book {
font-size:18px;
margin-bottom: 60px;
margin-left: 0px;
margin-top: 0px;
margin-left: 10px;
margin-left: 40px;
position: relative;
}

.book_author {
font-size:12px;
font-weight:lighter;
color: black;
}

.book_cover {
cursor:pointer;
height:190px;
opacity:1;
width:145px;
}

.book_cover:hover {
opacity:0.8;
}

.book_image_event {
float:none;
height:300px;
width:230px;
}

.book_title {
font-size:15px;
font-weight:bold;
color: black;
}

.books_containers {
display:grid;
grid-gap:10px;
grid-template-columns:auto auto;
margin-left: -50px;
}

.event {
margin:40px 80px;
width:180px;
}

.event_author {
font-size:14px;
}

.event_date {
font-size:16px;
margin-top:20px;
}

.event_description {
float:left;
}

.event_title {
font-size:18px;
font-weight:bolder;
}

.events_container {
width:400px;
}

.learn_more {
background-color:#d5d5d5;
border:none;
border-radius:30px;
color:black;
display:inline-block;
font-size:18px;
height:50px;
margin:20px 25px;
text-align:center;
text-decoration:none;
vertical-align:middle;
width:180px;
}

.learn_more:active {
background-color:#ef4444;
}

#related_events {
position: relative;
background-color:#f3f3f3;
margin-top: 330px;
padding-bottom:80px;
width:400px;
}

#related_events_title {
margin-left:80px;
width:250px;
}

.section_title {
font-size:26px;
width:180px;
}


