html {
font-size: 45% !important
}

#about_the_author {margin: 0;overflow: auto;width: 100%;position: relative;display: block;}

#about_the_author_title {font-weight:bolder;text-align:center;}

#add_to_cart_button {align-self: center;}

.author_bio {
}

.author_bio {font-weight:lighter;}

#author_image {
height:160px;
margin-bottom:15px;
margin-left:20px;
margin-right:30px;
width:160px;
}

.author_page_button {border-radius:50px;}

.book {
padding: 35px
}

#book_author {
display:block;
font-size:16px;
font-weight:lighter;
text-align:center;
}

.book_cover {
    height: 200px;
}

#book_image {width: 80%;margin: 15px 0%;}

.book_image_event {}

#book_info {
    display: block;
}

#book_landing_page {display:flex;flex-direction: column;}

#book_title {text-align: center;padding: 15px 3%;}

#book_price {text-align:center;padding: 10px 0;}

#book_resume {padding: 20px 10%;max-height: initial;}

.caption_container {
font-size:20px;
height:100px;
line-height:1px;
text-align:center;
}

.card {}

.carousel,::-webkit-scrollbar {
display:none;
}

.column {
    padding: 0;
}

.event {
    width: 100%;
}

#event_author {font-size: 20px;font-weight: lighter;width: 150px;margin-left: 0px;}

.event_author {}

.event_date {}

.event_description {
float:left;
}

.event_title {}

.events_container {}

#fact_and_author {
    display: flex;
    flex-direction: column;
}

.fact_content {
font-size:16px;
font-weight:lighter;
}

#fact_sheet {
    padding: 10px 0;
}

#fact_sheet_content {text-align: center;}

#fact_sheet_content:after {
clear:both;
content:"";
display:table;
}

#fact_sheet_title {
}

.fact_title {
color:#555555;
font-size:16px;
font-weight:900
}

.learn_more {}

.learn_more:active, #add_to_cart_button:hover, .author_page_button:hover {
background-color:#ef4444;
cursor:pointer;
}


#related_books {}

#related_books_title {margin: 0;}

#related_books_title_mobile {
color:#000000;
font-size:22px;
font-weight:bolder;
text-align:center;
}

#related_events {}

#related_events_title {
    margin:  0;
}

.review_image {
    /* width: 25%; */
    /* float: left; */
    margin-right: 20px;
}
#no_reviews {
  text-align: center;
  margin:  0;
}
.reviewer {
    /* margin-top: 17px; */
}

#reviews_container {display: flex;overflow-x: scroll;flex-wrap: nowrap;}

#reviews_title {margin: 0;}

.scrolling-wrapper {}

.section_title {font-size:22px;font-weight:bolder;margin: 0;width: 100%;text-align: center;}

.single_review {
    flex: 0 0 100%;
}
.stars {/* width: 145px; */}
