html {
    font-size: 50% !important
}
.book_cover {
    max-width: 200px;
}

.book_info {
    display: block;
}

.book_info:after {
clear:both;
content:"";
display:table;
}

.book_price {
    margin: 10px;
}

.book_subtotal {font-size: 1.7rem;}

.book_title {
    margin: 0;
}

#cart {/* display:none; */margin-right: 7px;}

#cart_items {width: 100%;margin: 0px;align-items: center;}

.cart_item {margin: 10px 0% 10px;width: 90%;}

#checkout_button {
    padding: 6px 7%;
    height: 35px;
    margin: 10px;
}

#checkout_button:hover {
background-color:#ef4444;
}

.close_button {
    width: 35px;
    height: 35px;
}

.column {
}

.inner {}

.inner:after {}

.inner:before {}

.inner:before,.inner:after {
    height: 2px;
    width: 21px;
    left: -1px;
}

.outer {}

.quantity,.book_subtotal_title {font-size: 1.8rem;margin: 10px 0 3px;}

select {
background-color:#ffffff;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
height:20px;
padding:5px 20px;
width:60px;
}

#subtotal {
    width: initial;
    padding: 10px 5%;
    height: initial;
    margin: 0.1px 0 0;
    position: sticky;
    top: -70px;
    z-index: 10;
}

#subtotal_number {
    margin: 5px;
}

.title_and_author {
margin-top:-10px;
}

#your_order_title {
}

.cart_item > a {padding: 8px 28%;}

.cover_type {
    font-size: 1.5rem
}