
.book_author_1,.book_author_2,.book_author_3,.book_author_4 {
font-weight:lighter;
}

.book_cover {box-shadow:3px 3px 5px #979797;width: 100%;}

.book_info {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    flex: 0 0 69%;
}

.book_info:after {
clear:both;
content:"";
display:table;
}

.book_price {font-size: 2rem;}

.book_subtotal {font-weight:lighter;font-size: 2rem;}

.book_subtotal_title {
    font-weight: bold;
    font-size: 2.3rem;
}

.cart_item {position: relative;background-color:#f3f3f3;border-radius:30px;color:black;font-size: 1.8rem;margin: 20px 0;padding: 60px 8%;width: 100%;display: flex;flex-flow: row wrap;align-items: end;justify-content: space-between;}

.cart_item:hover {
background-color:#eee;
}

#cart_items {display: flex;flex-flow: column nowrap;justify-content: center;list-style:none;margin: 13px 3.5%;padding: 0;width: 58%;min-height: 100%;}

#checkout_button {background-color:#ffffff;border-radius:40px;color:#000000;cursor:pointer;display:inline-block;font-size: 1.8rem;font-weight:bolder;height:20px;margin: 0;padding:16px 32px 40px 16px;text-align:center;text-decoration:none;text-transform:uppercase;width:140px;z-index: 5;}

#checkout_button:hover {
background-color:#ef4444;
}

.close_button {background-color: #D3D3D3;position: absolute;border-radius: 50%;width: 60px;height: 60px;cursor: pointer;right: 15px;top: 13px;}

.column {
    flex: 0 0 21.2%;
    padding: 0px 2%;
    display: flex;
    flex-flow: column nowrap;
    max-height: 230px;
}

.inner {}

.inner:after {
bottom:50%;
transform:rotate(-45deg);
}

.inner:before {top: -2.3px;transform: rotate(45deg);left: -0.9px!important;}

.inner:before,.inner:after {background:#555555;content:'';height: 3px;/* left:5px; *;/* position:absolute; */width: 47px;position: absolute;left: -2px;}

.outer {cursor:pointer;margin: 2px 0px 0 0;position:relative;width: inherit;color: inherit;}

.quality_form {margin: 5px 4px;}

.quantity {
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
}

.quantity_menu {}

select {
background-color:#ffffff;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
height:30px;
padding:5px 20px;
width:100px;
}

#subtotal {background-color:#d3d3d3;position:fixed;right: 0px;top: 53px;width: 35%;height: 95%;padding: 190px 0%;z-index: 0;display: flex;flex-flow: column nowrap;align-items: center;justify-content: center;}

#subtotal_number {font-size:24px;font-weight: lighter;margin-bottom:40px;}

#subtotal_title {
font-size:20px;
font-weight:bolder;
margin-top:20px;
}

#your_order_title {
font-size:18px;
font-weight:bold;
}

.cart_item > a {
    flex: 0 0 25%;
}

.book_title {
    font-size: 135%;
    margin: 0;
    font-weight: bold;
}

.cart_item > p {
    text-transform:uppercase;
    margin: 42px 12%;
    font-size: 4rem;
    text-align: center;
}

