body {
font-family:"F37 Ginger"!important;
}

.book_author_1,.book_author_2,.book_author_3,.book_author_4 {
font-size:12px;
font-weight:lighter;
}

.book_cover {
box-shadow:3px 3px 5px #979797;
float:left;
margin:10px 20px 0 10px;
width:80px;
}

.book_info {
padding-top:5px;
width:600px;
}

.book_info:after {
clear:both;
content:"";
display:table;
}

.book_price {
font-size:12px;
font-weight:30;
}

.book_subtotal {
color:#555555;
font-size:12px;
font-weight:lighter;
margin-top:5px;
}

.book_subtotal_title {
color:#000000;
font-size:12px;
margin-top:20px;
width:100px;
}

.book_title {
font-size:14px;
}

.cart_item {
background-color:#f3f3f3;
border:10px solid #ffffff;
border-radius:30px;
color:black;
display:block;
font-size:18px;
margin-top:-1px;
padding:10px 10px 30px;
position:relative;
text-decoration:none;
width:430px;
}

#cart_items {
list-style:none;
margin-top:35px;
padding-top:160px;
}

#checkout_button {
background-color:#ffffff;
border:none;
border-radius:40px;
color:#000000;
cursor:pointer;
display:inline-block;
font-size:14px;
font-weight:bolder;
height:10px;
margin:0;
position:absolute;
right:50px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
top:230px;
width:140px;
}

#checkout_button:hover {
background-color:#ef4444;
}

.close_button {
background-color:#f3f3f3;
border:none;
float: right;
}

.column {
float:left;
padding-bottom:0;
padding-left:15px;
width:15%;
}

.inner {
width:inherit;
}

.inner:after {
bottom:50%;
transform:rotate(-45deg);
}

.inner:before {
top:50%;
transform:rotate(45deg);
}

.inner:before,.inner:after {
background:#555555;
content:'';
height:1px;
left:5px;
position:absolute;
width:20px;
}

.outer {
cursor:pointer;
margin:10px 15px auto auto;
position:relative;
width:10px;
}

.quality_form {
margin:5px;
height:30px;
width:80px;
}

.quantity {
font-size:12px;
margin:20px 0 0 5px;
}

.quantity_menu {
margin-left:20px;
margin-top:20px;
}

select {
background-color:#ffffff;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
height:20px;
padding:5px 20px;
width:60px;
}

#subtotal {
background-color:#C8C8C8;
border-radius:0;
height:330px;
padding:25px;
position:fixed;
right:35px;
text-align:center;
top:200px;
width:240px;
}

#subtotal_number {
font-size:18px;
font-weight:30;
}

#subtotal_title {
font-size:17px;
font-weight:bold;
}

#your_order_title {
font-size:18px;
font-weight:bold;
}
