html {
    font-size: 50% !important
}

.book_cover {}

.book_info {
    flex: 0 0 100%;
    padding: 0px 0%;
}

.book_price {}

.book_subtotal {}

.book_subtotal_title {}

.book_title {
    margin: 0 0% 10px;
}

.cart_item {
    padding: 30px 8%;
}

#cart_items {}

#checkout_button {border:none;}

#checkout_button:hover {
background-color:#ef4444;
}

.close_button {}

.column {
    padding: 0px 1%;
    text-align: center;
}

.inner {}

.inner:after {}

.inner:before {}

.inner:before,.inner:after {}

.outer {}

.quality_form {height: 30px;width: 100px;}

.quantity {}

.quantity_menu {}

select {
background-color:#ffffff;
border:none;
border-radius:4px;
font-family:"F37 Ginger";
height:20px;
padding:5px 20px;
width:60px;
}

#subtotal {}

#subtotal_number {}

#subtotal_title {
    margin: 10px;
}

#your_order_title {}

.column:nth-child(2) {
    order: -1
}

.cart_item > a {
    flex: 0 0 100%;
    padding: 8px 29%;
}