html {
    font-size: 60% !important;
}
#landing_title_box {
    /* width: 100%; */
}
#best_sellers {
	display: block;
	padding: 21px 0px;
}

.scrolling-wrapper > a {
    width: 100%;
}

#our_suggestions_container > a:last-child {
    grid-column: 1/span 2;
    width: 50%;
}

.book_author,
.book_title,
.book_price {
    color: black;
    }

.card {
    display:inline-block;
    position: relative;
    vertical-align: top;
}

.carousel {
    display:none;
}


.gift_card {
    padding: 5px 0;
}


#gift_cards_container {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "card card" "lastcard lastcard" "button button";
    grid-gap: 10px;
}


.image_and_caption {
display:inline-block;
margin-bottom:25px;
width:80%;
}


#learn_more {
    border: none;
    border-radius:30px;
    font-size: 2rem;
}

#our_suggestions {
    padding: 21px 0px;
}

#our_suggestions_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.scrolling_caption {
    position: relative;
    width: 226px;
    }

.scrolling-wrapper {
    padding: 0px 3.5%;
    display: inline-block;
    max-width: 767px;
    opacity:1;
    overflow-y:hidden;
    position: relative;
    white-space:nowrap;
    width: 100%;
 }


.section_title {
    font-size: 2.8rem!important;
    font-weight:bolder;
    }

.text_container {
    font-weight:lighter;
}


#gift_cards_container > div:last-of-type {
    grid-area: lastcard;
    width: 50%;
}
