html {
	font-size: 45% !important;
}
#best_sellers_title {
	text-align:center;
}

#book_author {
	text-align: center
}

.book_cover {
	width: 200px;
	margin: 0px 10px;
}

#book_title {
text-align: center
}

#gift_cards_section {
	padding: 21px 0;
}

#gift_cards_section_title {
	font-size:26px;
	text-align:center;
}

#gift_cards_container {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "card" "card" "card" "button";
    grid-gap: 10px;
}


.gift_card_image {}


#landing_subtitle {
}

#landing_title_big {
	font-size: 8.5rem
}

#landing_title_box {
	width: 109%;
	height: 20px;
	bottom: 34px;
	right: 5%;
}

#landing_title_small {
	font-size: 5rem
}


.text_container {
}

#learn_more {
	font-size:18px;
}

#our_suggestions {
}

.suggestor_name {
	line-height: 1.8
}

.section_title {
    text-align:center;
}

.scrolling-wrapper {
	max-width: 400px;
	padding: 15px 8px;
}

#gift_cards_container > div:last-of-type {
    all:initial;
    font-family:inherit;
    
}