body {
background-color:#ef4444!important;
font-family:'F37 Ginger'!important;
margin:0;
width:768px!important;
}

#best_sellers {
	width: 768px;
}

#best_sellers_title {
margin-left: 340px;
}

.book {
height:560px;
}

.book_author,.book_title,.book_price {
text-align:center;
}

.book_cover {
height:294px;
width:216px;
}

.caption_container {
padding-left:35px;
text-align:center;
width:100px;
}

.caption_wrapper {
text-align:center;
width:180px;
}

.card {
display:inline-block;
}

.carousel {
align-content:center;
display:none;
left:20px;
position:absolute;
top:800px;
width:768px;
}

.carousel-controls {
bottom:780px;
color:black;
font-size:100px;
left:0;
line-height:600px;
position:absolute;
right:1000px;
width:710px;
z-index:999;
}

.carousel-controls .next-slide {
right:0;
text-align:right;
width:49%;
}

.carousel-controls .prev-slide {
left:0;
text-align:left;
width:49%;
}

.carousel-controls label {
cursor:pointer;
display:none;
opacity:0;
padding:0;
position:absolute;
transition:opacity .2s;
}

.carousel-controls label:hover {
opacity:1;
}

.container {
padding:10px 20px;
text-align:center;
}

#fresh_releases {
align-items:flex-start;
background-color:#FFFFFF;
display:flex;
height:700px;
justify-content:flex-start;
ms-flex-align:center;
ms-flex-pack:center;
webkit-box-align:center;
webkit-box-pack:center;
width:768px;
}

.gift_cards {
display:inline-grid;
float:left;
height:10px;
margin:10px 60px 20px 80px;
padding-bottom:300px;
padding-left:120px;
padding-top:50px;
width:650px;
}

#gift_cards_section {
background-color:#ffffff;
height:1460px;
padding-bottom:50px;
padding-top:10px;
width: 768px;
}

#gift_cards_section_title {
margin-left: 100px;
}

.image_and_caption {
display:inline-block;
margin-bottom:25px;
width:80%;
}


input:checked + .slide-container .carousel-controls label,input:checked + .slide-container .nav label {
display:block;
}

input:checked + .slide-container .slide-image {
opacity:1;
transform:scale(1);
transition:opacity 1s ease-in-out;
}

#landing_page {
width: 768px;
height:700px;
}

#landing_subtitle {
font-size:30px;
font-style:italic;
left:185px;
position:absolute;
text-align:center;
top:450px;
width:400px;
}

#landing_title_big {
font-size:100px;
font-weight:bolder;
position:inherit;
text-align:center;
z-index:100;
}

#landing_title_box {
background:#FFFFFF;
bottom:10px;
height:40px;
position:absolute;
right:25px;
width:570px;
z-index:inherit;
}

#landing_title_container {
position:relative;
z-index:-100;
}

#landing_title_small {
bottom:120px;
font-size:40px;
font-weight:bolder;
left:140px;
position:absolute;
text-align:center;
z-index:100;
}

#learn_more {
background-color:#d4d4d4;
border: none;
border-radius:30px;
font-size:20px;
height:50px;
margin: 110px 0px 60px 300px;
width:180px;
}

#learn_more:hover {
background-color:#ef4444;
}

.navbar-header {
float: none!important;
width: 768px;
}
	
.navbar-left {
padding-left: 280px!important;
}
	
.navbar-right {
position: absolute!important;
top:47px;
right:30px;
}

#our_suggestions {
align-items:flex-start;
background-color:#F3F3F3;
height:1850px;
width: 768px;
}

#our_suggestions_container {
margin-left:80px;
}

.scrolling-wrapper {
display:block;
height:550px;
max-width:100%;
opacity:1;
overflow-x:scroll;
overflow-y:hidden;
padding-left:60px;
padding-right:30px;
position:absolute;
top:820px;
webkit-overflow-scrolling:touch;
white-space:nowrap;
width:768px;
z-index:999;
}

.scrollmenu {
background-color:#222;
display:flex;
flex:1;
overflow:hidden;
white-space:nowrap;
}

.scrollmenu a {
color:#fff;
height:300px;
padding:1rem;
text-align:center;
text-decoration:none;
width:180px;
}

.scrollmenu a:hover {
background-color:#777;
}

.scrollmenu-container {
display:flex;
max-width:800px;
}

.scrollmenu-container button {
background-color:#555;
border:none;
color:#ccc;
cursor:pointer;
padding:0 .5rem;
}

.scrollmenu-container button:hover {
color:#fff;
}
.section_title {
clear:left;
font:bolder;
font-size:26px;
font-weight:bolder;
text-align: center;
width: 600px;
}

.slide-container {
display:inline-block;
white-space:nowrap;
width:400px;
}

.slide-image {
bottom:80%;
display:inherit;
height:60%;
left:0;
opacity:0;
position:absolute;
top:0;
transition:all .7s ease-in-out;
width:20%;
}

.slide-image img {
height:73%;
margin-left:25px;
margin-top:10px;
width:150%;
}

.slide-image:hover + .carousel-controls label {
opacity:0.5;
}

.slides {
display:block;
height:600px;
list-style:none;
margin:0;
overflow:hidden;
padding:0;
position:relative;
}

.slides * {
khtml-user-select:none;
moz-user-select:none;
ms-user-select:none;
user-select:none;
webkit-touch-callout:none;
webkit-user-select:none;
}

.text_container {
font-weight:lighter;
width:350px;
}

::-webkit-scrollbar,ul.slides input {
display:none;
}






