body {
background-color:white;
font-family:"F37 Ginger"!important;
}

input:focus,select:focus,textarea:focus,button:focus {
outline:none!important;
}

.cancelbtn {
background-color:#555555;
padding:8px;
width:auto;
}

#heading_text {
font-weight:bolder;
margin:250px 50px 50px 290px;
}

.input_box {
box-sizing:border-box;
display:inline-block;
margin:8px 0;
padding:12px 20px;
width:100%;
}

.input_container {
margin-top:80px;
padding:30px;
}

#login {
background-color: #d9d9d9;
border: none;
border-radius: 30px;
font-size:16px;
height:60px;
margin-left: 270px;
margin-top:50px;
width: 180px
}

#login:active {
background-color: #ef4444
}

.psw {
float:right;
padding-top:16px;
}
