body {
background-color:white;
font-family:"F37 Ginger"!important;
}

input:focus,select:focus,textarea:focus,button:focus {
outline:none!important;
}

.button_container {
margin:20px 30px;
}

.cancelbtn {
background-color:#555555;
color:#ffffff;
font-size:16px;
height:50px;
padding:10px 18px;
width:120px;
}

#heading_text {
font-weight:bolder;
margin:100px 50px 50px 620px;
}

.input_box {
border:1px solid #ccc;
box-sizing:border-box;
display:inline-block;
height:60px;
margin:8px 0;
padding:12px 20px;
width:100%;
}

.input_container {
margin-top:50px;
padding:30px;
}

label {
font-size:18px;
}

#login {
background-color: #d9d9d9;
border: none;
border-radius: 30px;
font-size:16px;
height:60px;
margin-left: 600px;
margin-top:50px;
width: 180px
}

#login:hover {
background-color: #ef4444
}

.psw {
float:right;
padding-top:16px;
}
