body {}

input:focus,select:focus,textarea:focus,button:focus {
outline:none!important;
}

.button_container {margin: 35px 30px;}

.cancelbtn {
background-color:#555555;
color:#ffffff;
font-size:16px;
height:50px;
padding:10px 18px;
width:120px;
}

#heading_text {font-weight:bolder;text-align: center;margin-top: 30px;}

.input_box {
border:1px solid #ccc;
box-sizing:border-box;
display:inline-block;
height:60px;
margin:8px 0;
padding:12px 20px;
width:100%;
}

.input_container {padding:30px;display: flex;flex-flow: column nowrap;align-items: center;}

label {font-size:18px;align-self: flex-start;}

#login {background-color: #d9d9d9;border-radius: 30px;font-size: 2rem;height:60px;width: 180px;text-transform: uppercase;font-weight: bolder;margin-top: 50px;}

#login:hover {
background-color: #ef4444
}

.psw {
float:right;
padding-top:16px;
}
