.nav {
	border-width: 0px !important;
}

.navbar-brand {
	padding: 12.5px 15px !important"
}
.nav > li {
	margin-bottom: -2px !important
}
.nav > li > a {
	line-height: 22px!important
}
.navbar {
    opacity: 0.95;
    background-color: #fff !important;
    border-color: #fff !important;
    box-shadow: 0 0px 5px 0px black;
}

.navbar-toggle {
    background-color: #555;
}

.navbar-toggle:focus {
	background-color: #ef4444;
}

.dropdown-toggle,
.menu_item {
	color: #555;
}

.dropdown-toggle:hover,
.menu_item:hover {
	color: #ef4444;
	background-color: inherit !important;
}

.menu_item:focus,
.dropdown-toggle:focus {
	color: #ef4444;
	background-color:#f3f3f3 !important;
}


#active {
	background-color: #ef4444 !important;
	color:#ffffff !important;
}

#active:hover {
	color:#555!important;
}

.navbar-form {
    border-color: #555
}

.icon-bar {
    background-color: #fff;
}

.icon {
    width: 20px;
}

.menu_item > img + span {
    padding: 5px;
}

.btn-default {
	padding: 9px !important
}

/* These media queries are used for the navbar*/

@media (max-width: 768px) {

 	.menu_item,
 	.dropdown-toggle {
        width: 50%;
    }


	.navbar-right {
		position: absolute;
		top: 0px;
		right: -48%;
		width: 100%;
	}

	#myNavbar {
		height: auto;
		position: relative;
	}

	.navbar-form {
		margin-bottom: 0
	}
}

@media (max-width: 1132px) {

}

/*There media queries are used for utility markers*/
@media (max-width: 768px) {

	.back {
	top: 135px;
	}
}











/*Used in many pages, put here to be used as utility markers*/
@font-face {
    font-family:"F37 Ginger";
    src: url("/assets/fonts/F37 Ginger Regular.ttf") format("truetype")
}
 html {
     font-size: 62.5% !important;
}

body {
    font-family: "F37 Ginger"!important;
    padding: 52px 0 0;
}

.back {
    position: absolute;
    top: 40px;
    left: 16px;
    color: #666;
		z-index: 9;
}

.back > span {
  font-size: 3em;
  position: relative;
  top: 5px;
  right: 1px;
	z-index: 5;
}

.back > a {
  font-size: 1.3em;
  text-decoration: underline;
  font-weight: bolder;
  color: #666;
	z-index: 10;
}


a {
	text-decoration:none;
	color: black;
}

button[disabled] {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
}


button:focus {
    color:white;
    background-color: #EF4444;
}

button:hover {
    color:white;
    background-color: #EF4444;
}

footer {
	display:flex;
	justify-content: space-between;
	flex-flow: row wrap;
	font-size: 1.4rem;
	background-color: #E54444;
	height: 50.5px;
	color: white;
	box-shadow: 0 0 5px 0px black;
	padding: 0 3%;
	align-items: center;
	width: 100%;
	z-index: 10;
	position: relative;
}


footer > span > a {
	text-decoration:underline;
	font-weight: 700;
	color: #D9D9D6
}

@media(max-width: 400px) {
	footer {
		justify-content:center
	}
}
