body {
font-family:'F37 Ginger'!important;
max-width:1440px;
}

a {
font-weight:bolder;
}

.answers {
font-size:18px;
font-weight:lighter;
}

.header_box {
background-color:#EF4444;
bottom:590px;
height:20px;
left:504px;
position:absolute;
width:440px;
z-index:inherit;
}

.header_container {
background-color:white;
height:150px;
z-index:-100;
}

.header_text {
font-size:40px;
font-weight:bolder;
left:510px;
position:absolute;
text-align:center;
top:100px;
z-index:100;
}

#international_delivery {
font-size:18px;
margin-left:270px;
margin-top:150px;
width:900px;
}

#international_delivery_title {
margin-bottom:80px;
margin-left:260px;
width:400px;
}

#other_questions {
font-size:18px;
font-weight:lighter;
margin-top:100px;
padding-bottom:50px;
text-align:center;
}

.section_title {
font:bolder;
font-size:24px;
font-weight:bolder;
text-align:center;
}

#uk_container {
display:grid;
font-size:20px;
grid-template-columns:auto auto;
margin:60px 0 0 270px;
}

#uk_delivery {
width:1400px;
}

#uk_delivery_title {
margin-top:100px;
}

.uk_options {
width:350px;
}

.uk_request {
font-size:18px;
font-weight:bolder;
}

