html {
    font-size: 50% !important;
}
.section_title {
    padding: 15px 0%;
}

#uk_container {
    padding: 0px 9%;
}


.uk_options {
    padding: 10px 8%;
}

.uk_options > ul> li {
    line-height: 1.4;
    margin: 15px 0%;
}
.header_box {
    
}