.answers {font-size: 1.8rem;font-weight:lighter;text-align: justify;line-height: 1.3;}

.header_box {
    background-color:#EF4444;
    margin-top: -27px;
    height: 15px;
    width: 450px;
    z-index: 0;
    place-self: center;
}
 .header_container {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 37px 0%;
}
 .header_text {
    font-size: 4rem;
    font-weight:bolder;
    text-align:center;
    z-index: 5;
}
#international_delivery {
    font-size: 1.8rem;
    padding: 20px 17.5%;}

#other_questions {
    font-size: 2.2rem;
    font-weight:lighter;
    margin: 20px 0 0px;
    padding: 50px 0%;
    text-align:center;
    background-color: #F3F3F3;
}

.section_title {
    font-size: 2.8rem;
    font-weight:bolder;
    text-align:center;
    padding: 0 0% 25px;
}

#uk_container {
    justify-content: center;
    display:grid;
    font-size: 2.0rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 11%;
}

#uk_delivery {
    background-color: #F3F3F3;
    padding: 18px 1%;
}

.uk_options {
    padding: 10px 17%;
}

.uk_request {font-size: 2rem;font-weight:bolder;text-align: justify;line-height: 1.2;}

.uk_options > ul {
    margin-left: -22px;
}

.uk_options > ul> li {
    line-height: 1.5;
    margin: 15px 0%;
}

.link {
    color: #EF4444;
    cursor: pointer;
    text-underline-position: under;
    text-decoration: underline;
}