html {
     font-size: 50% !important 
}

#apply_filters {
     width: 20%;
     border: none;
}

#apply_filters:active {
    background-color: #ef4444;
}

.book {
    flex: 0 0 33.3%;
}

.book_cover:hover {
    opacity:0.8;
}

.book_title {
    font-size:15px;
    font-weight:bold;
}

.dropdown_menu {
    display:inherit;
    font-size:16px;
}

#single_genre {
    font-size:30px;
    font-weight:bolder;
    padding-top:60px;
    text-align:center;
}
 .book:nth-child(10n+1), .book:nth-child(10n+2), .book:nth-child(10n+3), .book:nth-child(10n+4), .book:nth-child(10n+5) {
    background-color: initial;
}
 .book:nth-child(6n+1), .book:nth-child(6n+2), .book:nth-child(6n+3) {
    background-color: #F3F3F3;
}
 