.author {text-decoration: underline;font-size: 2.4rem;text-align:center;}

#book_details {background-color:#D9D9D9;border-radius:30px;color:#000000;font-size: 1.9rem;font-weight:bolder;height: 65px;padding: 15px 2%;text-align:center;text-decoration:none;text-transform:uppercase;width: 30%;margin: 0px 0%;}

#book_details:hover {
background-color:#ef4444;
}

#condition {font-size: 2.0rem;font-weight:bold;text-align:center;padding: 30px 0%;}

.date,.place {color:rgba(67,67,67,1.00);font-size: 2.4rem;text-align:center;padding: 25px 0% 5px;}

.description {font-size: 2.0rem;font-weight:lighter;text-align: justify;padding: 10px 19%;}

.event {background-color:#FFFFFF;padding: 20px 0%;display: flex;flex-flow: column nowrap;align-items: center;}

.event_photo {
    width: 50%;
    box-shadow: 10px 10px 5px #E54444;
}

img.event_photo {}

.header_container {background-color: white;padding: 80px 0% 15px;}

.header_text {font-size: 4.0rem;font-weight:bolder;text-align: center;}

.section_title {
clear:left;
font:bolder;
font-size:20px;
font-weight:bolder;
padding-bottom:30px;
padding-left:25px;
padding-top:15px;
}

#events {
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
}

.author > a {
    color: #EF4444;
    font-weight:bold;
}